<div class="shop-category-area single-blog-page d-flex justify-content-center">
  <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
    <div class="blog-posts">
      <div class="single-blog-post blog-grid-post">
        <div class="blog-post-media">
          <div class="blog-image single-blog">
            <img src="{{ uploadedFileUrl }}/{{ blog.image }}" alt="{{ blog.image }}" alt="{{ blog.name }}" />
          </div>
        </div>
        <div class="blog-post-content-inner mt-30px">
          <h1 class="detail-title">{{ blog.name }}</h1>
          <ul class="blog-page-meta">
            {% if showAuthor %}
              <li>
                <a href="javascript:void(0)"><i class="ion-person"></i> {{ user.name }} {{ user.surname }}</a>
              </li>
            {% endif %}
            <li>
              <a href="{{ rootUrl }}/{{ blog.blogCatalogUrl }}/{{ blog.created_at|date('Y/m') }}"><i class="ion-calendar"></i> {{ blog.created_at|date(locale.dateFormat) }}</a>
            </li>
          </ul>
          <div class="blog-content">
            {{ blog.content|raw }}
          </div>
        </div>
      </div>
      <!-- single blog post -->
    </div>
    <div class="blog-single-tags-share d-sm-flex justify-content-between">
      <div class="blog-single-tags d-flex">
        <span class="title">{{ translate("Tags", "Blog") }}: </span>
        <ul class="tag-list">
        {% for blog_tag in blog.blog_tags %}
          <li><a href="{{ rootUrl }}/{{ blog.blogCatalogUrl }}?tags={{ blog_tag.url }}">{{ blog_tag.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="blog-single-share d-flex">
        <span class="title">{{ translate("Share", "Blog") }}:</span>
        <ul class="social">
          <li>
            <a href="#"><i class="ion-social-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="ion-social-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="ion-social-google"></i></a>
          </li>
          <li>
            <a href="#"><i class="ion-social-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!--
    {% if relatedPosts %}
      <div class="blog-related-post">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="section-title underline-shape">
              <h2>Related Post</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-lm-30px">
            <div class="blog-post-media">
              <div class="blog-image single-blog">
                <a href="blog-single-left-sidebar.html"><img class="img-responsive" src="{{ rootUrl }}/theme/assets/images/blog-image/blog-1.jpg" alt="blog" /></a>
              </div>
            </div>
            <div class="blog-post-content-inner mt-30px">
              <h4 class="blog-title"><a href="blog-single-left-sidebar.html">This is Third Post For XipBlog</a></h4>
              <ul class="blog-page-meta">
                <li>
                  <a href="#"><i class="ion-person"></i> Admin</a>
                </li>
                <li>
                  <a href="#"><i class="ion-calendar"></i> 24 April, 2020</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 mb-lm-30px">
            <div class="blog-post-media">
              <div class="blog-image single-blog">
                <a href="blog-single-left-sidebar.html"><img class="img-responsive" src="{{ rootUrl }}/theme/assets/images/blog-image/blog-2.jpg" alt="blog" /></a>
              </div>
            </div>
            <div class="blog-post-content-inner mt-30px">
              <h4 class="blog-title"><a href="blog-single-left-sidebar.html">This is Third Post For XipBlog</a></h4>
              <ul class="blog-page-meta">
                <li>
                  <a href="#"><i class="ion-person"></i> Admin</a>
                </li>
                <li>
                  <a href="#"><i class="ion-calendar"></i> 24 April, 2020</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-post-media">
              <div class="blog-image single-blog">
                <a href="blog-single-left-sidebar.html"><img class="img-responsive" src="{{ rootUrl }}/theme/assets/images/blog-image/blog-3.jpg" alt="blog" /></a>
              </div>
            </div>
            <div class="blog-post-content-inner mt-30px">
              <h4 class="blog-title"><a href="blog-single-left-sidebar.html">This is Third Post For XipBlog</a></h4>
              <ul class="blog-page-meta">
                <li>
                  <a href="#"><i class="ion-person"></i> Admin</a>
                </li>
                <li>
                  <a href="#"><i class="ion-calendar"></i> 24 April, 2020</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
     {% if allowComments %}
      <div class="comment-area">
        <h2 class="comment-heading">3 Comments</h2>
        <div class="review-wrapper">
          <div class="single-review">
            <div class="review-img">
              <img src="{{ rootUrl }}/theme/assets/images/review-image/1.png" alt="" />
            </div>
            <div class="review-content">
              <div class="review-top-wrap">
                <div class="review-left">
                  <div class="review-name">
                    <h4>White Lewis</h4>
                    <span class="date">February 16, 2020 at 1:38 am</span>
                  </div>
                </div>
                <div class="review-left">
                  <a href="#">Reply</a>
                </div>
              </div>
              <div class="review-bottom">
                <p>
                  Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla.
                </p>
              </div>
            </div>
          </div>
          <div class="single-review child-review">
            <div class="review-img">
              <img src="{{ rootUrl }}/theme/assets/images/review-image/2.png" alt="" />
            </div>
            <div class="review-content">
              <div class="review-top-wrap">
                <div class="review-left">
                  <div class="review-name">
                    <h4>White Lewis</h4>
                    <span class="date">February 16, 2020 at 1:38 am</span>
                  </div>
                </div>
                <div class="review-left">
                  <a href="#">Reply</a>
                </div>
              </div>
              <div class="review-bottom">
                <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Sus pen disse viverra ed viverra. Mauris ullarper euismod vehicula.</p>
              </div>
            </div>
          </div>
          <div class="single-review">
            <div class="review-img">
              <img src="{{ rootUrl }}/theme/assets/images/review-image/1.png" alt="" />
            </div>
            <div class="review-content">
              <div class="review-top-wrap">
                <div class="review-left">
                  <div class="review-name">
                    <h4>White Lewis</h4>
                    <span class="date">February 16, 2020 at 1:38 am</span>
                  </div>
                </div>
                <div class="review-left">
                  <a href="#">Reply</a>
                </div>
              </div>
              <div class="review-bottom">
                <p>
                  Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-comment-form">
        <h2 class="comment-heading">Leave a Reply</h2>
        <p>Your email address will not be published. Required fields are marked *</p>
        <div class="row">
          <div class="col-md-12">
            <div class="single-form">
              <label>{{ translate("Your Review, "Blog") }}:</label>
              <textarea placeholder="{{ translate("Write a review", "Blog") }}"></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-form">
              <label>{{ translate("Name, "Blog") }}:</label>
              <input type="text" placeholder="{{ translate("Name", "Blog") }}" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-form">
              <label>{{ translate("Email, "Blog") }}:</label>
              <input type="email" placeholder="{{ translate("Email", "Blog") }}" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-form">
              <label>{{ translate("Website, "Blog") }}:</label>
              <input type="email" placeholder="{{ translate("Website", "Blog") }}" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="single-form">
              <input class="submit" type="submit" value="{{ translate("Submit", "Blog") }}" />
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    -->
  </div>
</div>
