{% if _GET.renderOnly == "" %}
  <script>
    $(document).ready(function() {
      AbeloThemeProductCatalog.page = {{ catalogInfo.page }};
      AbeloThemeProductCatalog.catalogListType = '{{ catalogInfo.catalogListType }}';
      AbeloThemeProductCatalog.getScrollId();
    });

  </script>
  <div id="productCatalogDefaultContainerDiv">
    <!-- Shop Top Area Start -->
    <div class="shop-top-bar d-flex">
      <!-- Left Side start -->
      <div class="shop-tab nav d-flex">
        <a 
          {% if catalogInfo.catalogListType == 'grid' %} class="active" {% endif %}
          href="#shop-1" 
          data-toggle="tab"
          onclick="AbeloThemeProductCatalog.setCatalogListType('grid')"
        >
          <i class="fa fa-th"></i>
        </a>
        <a 
          {% if catalogInfo.catalogListType == 'list' %} class="active" {% endif %}
          href="#shop-2" 
          data-toggle="tab"
          onclick="AbeloThemeProductCatalog.setCatalogListType('list')"
        >
          <i class="fa fa-list"></i>
        </a>
          <p>{{ translate("There Are", "Product") }} {{ catalogInfo.productCount }} {{ translate("Products", "Product") }}.</p>
      </div>
      <!-- Left Side End -->
      <!-- Right Side Start -->
      <div class="select-shoing-wrap d-flex">
        <div class="shot-product">
          <p>{{ translate("Sort by", "Product") }}:</p>
        </div>
        <div class="shop-select">
          <select name="sort" onchange="changeProductSorting(this)">
            <option value="date" {% if sorting == "date" %} selected {% endif %}>{{ translate("Sort by newness", "Product") }}</option>
            <option value="title" {% if sorting == "title" %} selected {% endif %}>{{ translate("A to Z", "Product") }}</option>
            <option value="title_desc" {% if sorting == "title_desc" %} selected {% endif %}>{{ translate("Z to A", "Product") }}</option>
            <option value="price" {% if sorting == "price" %} selected {% endif %}>{{ translate("Price ascending", "Product") }}</option>
            <option value="price_desc" {% if sorting == "price_desc" %} selected {% endif %}>{{ translate("Price descending", "Product") }}</option>
            <!--<option value="storage" {% if sorting == "storage" %} selected {% endif %}>{{ translate("In stock", "Product") }}</option>-->
          </select>
        </div>
      </div>
      <!-- Right Side End -->
    </div>
    <!-- Shop Top Area End -->

    <!-- Shop Bottom Area Start -->
    <div class="shop-bottom-area mt-35">
      <!-- Shop Tab Content Start -->
      <div class="tab-content jump">
{% endif %}

{% if _GET.renderOnly == "" or _GET.renderOnly == "productsList" %}
  {% if catalogInfo.products|length > 0 %}
    <!-- Tab One Start -->
    <div id="shop-1" class="tab-pane shopType-grid {% if catalogInfo.catalogListType == 'grid' %} active {% endif %}">
      <div class="row m-0">
        {% for product in catalogInfo.products %}
          <div id="grid_product_{{ product.id }}" class="mb-30px col-md-4 col-sm-6  p-0">
            <div class="slider-single-item">
              <!-- Single Item -->
              <article class="list-product p-0 text-center">
                <div class="product-inner">
                  <div class="img-block">
                    <ul class="product-flag">
                      {% if product.is_new == 1 %}
                        <li class="tag new">{{ translate("New", "Product") }}</li>
                      {% endif %}
                      {% if product.is_sale_out == 1 %}
                        <li class="tag new">{{ translate("Sale", "Product") }}</li>
                      {% endif %}
                      {% if product.is_on_sale == 1 %}
                        <li class="tag new">{{ translate("Action", "Product") }}</li>
                      {% endif %}
                      {% if product.is_top == 1 %}
                        <li class="tag top">{{ translate("Top", "Product") }}</li>
                      {% endif %}
                      {% if product.is_used == 1 %}
                        <li class="tag new">{{ translate("Used", "Product") }}</li>
                      {% endif %}
                      {% if product.is_unpacked == 1 %}
                        <li class="tag secondary">{{ translate("Unpacked", "Product") }}</li>
                      {% endif %}
                      {% if product.is_recommended == 1 %}
                        <li class="tag secondary">{{ translate("Recommended", "Product") }}</li>
                      {% endif %}
                      {% if (product.price.fullPriceInclVAT != product.price.salePrice) %}
                        <li class="top">- {{ product.price.discount|number_format(2, ",", " ") }} %</li>
                      {% endif %}
                    </ul>
                    <a 
                      href="{{ rootUrl }}/{{ product.url }}"
                      onclick="
                        AbeloThemeProductCatalog.setCurrentProductPage(
                          {{ catalogInfo.page }},
                          {{ product.id }}
                        )
                      "
                      class="thumbnail"
                    >
                      <img class="first-img" src="{{ uploadedFileUrl }}/{{ product.image }}" alt="{{ product.image }}"/>
                    </a>
                    <div class="add-to-link">
                      <ul>
                        <li>
                          <a
                            class="quick_view"
                            href="#"
                            data-link-action="getQuickView"
                            data-link-id="{{ product.id }}"
                            onclick="openQuickModal(this)"
                            title="{{ translate("Quick view", "Product") }}"
                            data-toggle="modal"
                            data-target="#quickViewModal"
                          >
                            <i class="lnr lnr-frame-expand"></i>
                          </a>
                        </li>
                        <!--<li>
                          <a href="wishlist.html" title="{{ translate("Add to Wishlist", "Product") }}"><i class="lnr lnr-heart"></i></a>
                        </li>-->
                        <!--<li>
                          <a href="compare.html" title="{{ translate("Add to compare", "Product") }}"><i class="lnr lnr-sync"></i></a>
                        </li>-->
                      </ul>
                    </div>
                  </div>
                  <div class="product-decs">
                    <a class="inner-link" href="?brands={{ product.BRAND.id }}"><span>{{ product.BRAND.name }}</span></a>
                    <h2>
                      <a 
                        href="{{ rootUrl }}/{{ product.url }}"
                        onclick="
                          AbeloThemeProductCatalog.setCurrentProductPage(
                            {{ catalogInfo.page }},
                            {{ product.id }}
                          )
                        "
                        class="product-link"
                      >{{ product.TRANSLATIONS.name }}</a>
                    </h2>
                    <div class="pricing-meta">
                      <ul>
                        {% if product.PRICE.fullPriceInclVAT != product.PRICE.salePriceInclVAT %}
                          <li class="old-price">{{ product.PRICE.fullPriceInclVAT|formatPrice }} €</li>
                        {% endif %}
                        <li class="current-price">{{ product.PRICE.salePriceInclVAT|formatPrice }} €</li>
                      </ul>
                    </div>
                  </div>
                  <div class="cart-btn">
                    <a 
                      href="javascript:void(0)"
                      onclick="AbeloThemeCart.addProduct({{ product.id }}, 1);" 
                      class="add-to-curt" 
                      title="{{ translate("Add to cart", "Product") }}">
                      {{ translate("Add to cart", "Product") }}
                    </a>
                  </div>
                </div>
              </article>
              <!-- Single Item -->
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Tab One End -->
    <!-- Tab Two Start -->
    <div id="shop-2" class="tab-pane shopType-list {% if catalogInfo.catalogListType == 'list' %} active {% endif %}">
      {% for product in catalogInfo.products %}
        <div id="list_product_{{ product.id }}">
          <div class="shop-list-wrap mb-30px scroll-zoom">
            <div class="slider-single-item">
              <div class="row list-product m-0px">
                <div class="col-md-12 padding-0px product-inner">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 p-0">
                      <div class="left-img">
                        <div class="img-block pl-lg-3 pr-lg-3">
                          <ul class="product-flag">
                            {% if product.is_new == 1 %}
                              <li class="tag new">{{ translate("New", "Product") }}</li>
                            {% endif %}
                            {% if product.is_sale_out == 1 %}
                              <li class="tag new">{{ translate("Sale", "Product") }}</li>
                            {% endif %}
                            {% if product.is_on_sale == 1 %}
                              <li class="tag new">{{ translate("Action", "Product") }}</li>
                            {% endif %}
                            {% if product.is_top == 1 %}
                              <li class="tag top">{{ translate("Top", "Product") }}</li>
                            {% endif %}
                            {% if product.is_used == 1 %}
                              <li class="tag new">{{ translate("Used", "Product") }}</li>
                            {% endif %}
                            {% if product.is_unpacked == 1 %}
                              <li class="tag secondary">{{ translate("Unpacked", "Product") }}</li>
                            {% endif %}
                            {% if product.is_recommended == 1 %}
                              <li class="tag secondary">{{ translate("Recommended", "Product") }}</li>
                            {% endif %}
                          </ul>
                          <a 
                            href="{{ rootUrl }}/{{ product.url }}" 
                            class="thumbnail"
                            onclick="
                              AbeloThemeProductCatalog.setCurrentProductPage(
                                {{ catalogInfo.page }},
                                {{ product.id }}
                              )
                            "
                          >
                            <img class="first-img" style="z-index:-1" src="{{ uploadedFileUrl }}/{{ product.image }}" alt="{{ product.image }}" />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 p-0">
                      <div class="product-desc-wrap">
                        <div class="product-decs">
                          <h2>
                            <a 
                              href="{{ rootUrl }}/{{ product.url }}" 
                              onclick="
                                AbeloThemeProductCatalog.setCurrentProductPage(
                                  {{ catalogInfo.page }},
                                  {{ product.id }}
                                )
                              " 
                              class="product-link">{{ product.TRANSLATIONS.name }}
                            </a>
                          </h2>
                          <a class="inner-link" href="shop-4-column.html"><span>{{ product.ProductCategory.TRANSLATIONS.name }}</span></a>
                          <div class="product-intro-info">
                            <p>{{ product.TRANSLATIONS.brief }}</p>
                          </div>
                        </div>
                        <div class="box-inner d-flex">
                          <div class="align-self-center">
                            <div class="pricing-meta">
                              <ul>
                                {% if product.PRICE.fullPriceInclVAT != product.PRICE.salePriceInclVAT %}
                                  <li class="old-price">{{ product.PRICE.fullPriceInclVAT|formatPrice }} €</li>
                                {% endif %}
                                <li class="current-price">{{ product.PRICE.salePriceInclVAT|formatPrice }} €</li>
                              </ul>
                            </div>
                            <div class="cart-btn">
                              <a 
                                href="javascript:void(0)"
                                onclick="AbeloThemeCart.addProduct({{ product.id }}, 1);" 
                                class="add-to-curt" 
                                title="{{ translate("Add to cart", "Product") }}">
                                {{ translate("Add to cart", "Product") }}
                              </a>
                            </div>
                            <!--<div class="add-to-link">
                              <ul>
                                <li>
                                  <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="lnr lnr-magnifier"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="wishlist.html" title="Add to Wishlist"><i class="lnr lnr-heart"></i></a>
                                </li>
                                <li>
                                  <a href="compare.html" title="Add to compare"><i class="lnr lnr-sync"></i></a>
                                </li>
                              </ul>
                            </div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- Tab Two End -->
  {% endif %}
{% endif %}

{% if _GET.renderOnly == "" %}
    </div>
  </div>
  <!-- Shop Bottom Area End -->
{% endif %}

{% if _GET.renderOnly == "" or _GET.renderOnly == "productPagination" %}
  {% if catalogInfo.products|length > 0 %}
    <div id="productPagination">
      <div class="row mt-3 mb-5">
        {% if not showPaging %}
          <div class="col-lg-4"></div>
          <div class="col-12 text-center col-lg-4 mb-2 mb-lg-0">
            {% if catalogInfo.page < catalogInfo.lastPage %}
              <div class='load-more'>
                <button
                  type="button"
                  class='load-btn'
                  onclick="AbeloThemeProductCatalog.loadNextPage().updatePagination();"
                  {% if catalogInfo.lastPage <= catalogInfo.page %} disabled {% endif %}
                >{{ translate("More products", "Product") }}</button>
              </div>
            {% endif %}
          </div>
        {% endif %}
        <div class="
          col-12 text-center col-lg-{% if showPaging %}12 {% else %}4 text-lg-right {% endif %}
        ">
          <div class="pro-pagination-style">
            <ul class="pagination-small" id="pagination">
              {% if catalogInfo.page != 1 %}
                <li>
                  <a
                    class="prev"
                    href="javascript:void(0)"
                    onclick="AbeloThemeProductCatalog.loadPage('-').updatePagination();"
                  ><i class="ion-ios-arrow-left"></i></a>
                </li>
              {% endif %}
              <li id="page_1">
                <a
                  {% if catalogInfo.page == 1 %} class="active" {% endif %}
                  href="javascript:void(0)"
                  onclick="AbeloThemeProductCatalog.loadPage(1).updatePagination();"
                >1</a>
              </li>
              {% if catalogInfo.page > 4 %}
                <li class="dots"></li>
              {% endif %}
              {% if catalogInfo.lastPage > 2 %}
                {% for page in 2..catalogInfo.lastPage - 1 %}
                  {% if page >= catalogInfo.page - 2 and page <= catalogInfo.page + 1 %}
                    <li id="page_{{ page }}">
                      <a
                        {% if page == catalogInfo.page %} class="active" {% endif %}
                        href="javascript:void(0)"
                        onclick="AbeloThemeProductCatalog.loadPage({{ page }}).updatePagination();"
                      >{{ page }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% if catalogInfo.lastPage > catalogInfo.page + 2 %}
                <li class="dots"></li>
              {% endif %}
              {% if catalogInfo.lastPage > 1 %}
                <li id="page_{{ catalogInfo.lastPage }}">
                  <a
                    {% if catalogInfo.lastPage == catalogInfo.page %} class="active" {% endif %}
                    href="javascript:void(0)"
                    onclick="AbeloThemeProductCatalog.loadPage({{ catalogInfo.lastPage }}).updatePagination();"
                  >{{ catalogInfo.lastPage }}</a>
                </li>
              {% endif %}
              {% if catalogInfo.lastPage != catalogInfo.page %}
                <li>
                  <a
                    class="next"
                    href="javascript:void(0)"
                    onclick="AbeloThemeProductCatalog.loadPage('+').updatePagination();"
                  ><i class="ion-ios-arrow-right"></i></a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}