 <!-- Shop details Area start -->
<section class="product-details-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="product-details-img product-details-tab">
          <div class="zoompro-wrap zoompro-2">
            <div class="zoompro-border zoompro-span">
              <img class="zoompro" src="{{ uploadedFileUrl }}/{{ productInfo["image"] }}" data-zoom-image="{{ uploadedFileUrl }}/{{ productInfo["image"] }}" alt="{{ productInfo.name_lang_1 }}" />
            </div>
            {% for imgKey, image in productInfo["gallery"] %}
              <div class="zoompro-border zoompro-span">
                <img class="zoompro" src="{{ uploadedFileUrl }}/{{ image["image"] }}" data-zoom-image="{{ uploadedFileUrl }}/{{ image["image"] }}" alt="{{ productInfo.name_lang_1 }}" />
              </div>
            {% endfor %}
          </div>
          <div id="gallery" class="product-dec-slider-2">
            <div class="single-slide-item">
              <img class="img-responsive" data-image="{{ uploadedFileUrl }}/{{ productInfo["image"] }}" data-zoom-image="{{ uploadedFileUrl }}/{{ productInfo["image"] }}" src="{{ uploadedFileUrl }}/{{ productInfo["image"] }}" alt="{{ productInfo.name_lang_1 }}" />
            </div>
            {% for imgKey, image in productInfo["gallery"] %}
              <div class="single-slide-item">
                <img class="img-responsive" data-image="{{ uploadedFileUrl }}/{{ image["image"] }}" data-zoom-image="{{ uploadedFileUrl }}/{{ image["image"] }}" src="{{ uploadedFileUrl }}/{{ image["image"] }}" alt="{{ productInfo.name_lang_1 }}" />
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="product-details-content">

          <div class="product-label-group" style="flex-direction: row;">
            {% if productInfo.is_new == 1 %}
              <label class="product-label label-new" style="margin-right: 5px;">new</label>
            {% endif %}
            {% if productInfo.is_sale_out == 1 %}
              <label class="product-label label-sale" style="margin-right: 5px;">sale</label>
            {% endif %}
            {% if productInfo.is_on_sale == 1 %}
              <label class="product-label label-stock" style="margin-right: 5px;">action</label>
            {% endif %}
            {% if productInfo.is_recommended == 1 or productInfo.is_top == 1 %}
              <label class="product-label label-top" style="margin-right: 5px;">{{ productInfo.is_top == 1 ? "top" : "recommended" }}</label>
            {% endif %}
          </div>

          <h2>{{ productInfo.name_lang_1 }}</h2>
          <div class="pro-details-rating-wrap">
            {# Rating of the product (number of stars) #}
            {# Využije sa pre brand #}
            {{ productInfo.brand.name }}
          </div>
          <div class="pricing-meta">
            <ul>
              {% if productInfo.priceInfo.fullPrice > 0 %}
                <li class="old-price">€ {{ productInfo.priceInfo.fullPrice|number_format(2, ",", " ") }}</li>
              {% endif %}
              <li class="cuttent-price">{{ productInfo.priceInfo.salePrice|number_format(2, ",", " ") }} €</li>
              {% if productInfo.priceInfo.discountTotal > 0 %}
                <li class="discount-flag">- {{ productInfo.priceInfo.discountTotal|number_format(2, ",", " ") }} %</li>
              {% endif %}
            </ul>
          </div>
          <div class="pro-details-list">
            <p>{{ productInfo.brief_lang_1|raw }}</p>
          </div>
          <div class="pro-details-quality mt-0px">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
            </div>
            <div class="quantity-unit">{{ productInfo.DELIVERY_UNIT.unit }}</div>
            <div class="pro-details-cart btn-hover">
              <a 
                href="javascript:void(0)"
                onclick="
                  AbeloThemeCart.addProduct(
                    {{ productInfo.id }},
                    $('.cart-plus-minus > input[name=qtybutton]').val(),
                    function(data) {
                      AbeloThemePopup
                        .setImage('{{ uploadedFileUrl }}/{{ productInfo.image }}')
                        .setTitle($('.pr_detail .product_title a').text())
                        .setSubTitle('Produkt bol pridaný do košíka.')
                        .setConfirmButtonText('Prejsť na objednávku')
                        .setConfirmButtonOnclick(function() {
                          window.location.href = '{{ rootUrl }}/{{ callPluginMethod('WAI/Order/CartOverview', 'getWebPageUrl') }}';
                          return false;
                        })
                        .setCancelButtonText('Pokračovať v nákupe')
                        .show()
                      ;
                    }
                  );
                "
              >  Add To Cart</a>
            </div>
          </div>
          <!--<div class="pro-details-wish-com">
            <div class="pro-details-wishlist">
              <a href="#"><i class="ion-android-favorite-outline"></i>Add to wishlist</a>
            </div>
            <div class="pro-details-compare">
              <a href="#"><i class="ion-ios-shuffle-strong"></i>Add to compare</a>
            </div>
          </div>-->
          <!--<div class="pro-details-social-info">
            <span>Share</span>
            <div class="social-info">
              <ul>
                <li>
                  <a title="Facebook" href="#"><i class="ion-social-facebook"></i></a>
                </li>
                <li>
                  <a title="Twitter" href="#"><i class="ion-social-twitter"></i></a>
                </li>
                <li>
                  <a title="Google+" href="#"><i class="ion-social-google"></i></a>
                </li>
                <li>
                  <a title="Instagram" href="#"><i class="ion-social-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>-->
          <div class="pro-details-policy">
            <ul>
              {% for service in productInfo.SERVICES %}
                <li>
                  <div class="row">
                    <div class="col-2">
                      <i class="fa fa-{{ service.pictogram }}"></i>
                    </div>
                    <div class="col-10">
                      <span>{{ service.name_lang_1 }}</span>
                    </div>
                  </div>
                </li>
              {% endfor %}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shop details Area End -->
<!-- product details description area start -->
<div class="description-review-area mt-5 bg-light-gray-3 ptb-50px">
  <div class="container">
    <div class="description-review-wrapper">
      <div class="description-review-topbar nav">
        <a data-toggle="tab" href="#des-details1">Description</a>
        <a class="active" data-toggle="tab" href="#des-details2">Product Details</a>
        <!--<a data-toggle="tab" href="#des-details3">Reviews (2)</a>-->
      </div>
      <div class="tab-content description-review-bottom">
        <div id="des-details2" class="tab-pane active">
          <div class="product-anotherinfo-wrapper">
            <ul>
              {% for feature in productInfo.FEATURES %}
                <li>
                  <span>{{ feature["name_lang_"~languageIndex] }}</span>
                  {% if feature.pivot.value_text|length > 0 %}
                    {{ feature.pivot.value_text }} {# feature.jednotka #}
                  {% else %}
                    {{ feature.pivot.value_number }} {# feature.jednotka #}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div id="des-details1" class="tab-pane">
          <div class="product-description-wrapper">
           <p>{{ productInfo.description_lang_1|raw }}</p>
          </div>
        </div>
        <div id="des-details3" class="tab-pane">
          <div class="row">
            <div class="col-lg-7">
              <div class="review-wrapper">
                <div class="single-review">
                  <div class="review-img">
                    <img src="{{ rootUrl }}/theme/assets/images/review-image/1.png" alt="" />
                  </div>
                  <div class="review-content">
                    <div class="review-top-wrap">
                      <div class="review-left">
                        <div class="review-name">
                          <h4>White Lewis</h4>
                        </div>
                      </div>
                      <div class="review-left">
                        <a href="#">Reply</a>
                      </div>
                    </div>
                    <div class="review-bottom">
                      <p>
                        Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="single-review child-review">
                  <div class="review-img">
                    <img src="{{ rootUrl }}/theme/assets/images/review-image/2.png" alt="" />
                  </div>
                  <div class="review-content">
                    <div class="review-top-wrap">
                      <div class="review-left">
                        <div class="review-name">
                          <h4>White Lewis</h4>
                        </div>
                        <div class="rating-product">
                          <i class="ion-android-star"></i>
                          <i class="ion-android-star"></i>
                          <i class="ion-android-star"></i>
                          <i class="ion-android-star"></i>
                          <i class="ion-android-star"></i>
                        </div>
                      </div>
                      <div class="review-left">
                        <a href="#">Reply</a>
                      </div>
                    </div>
                    <div class="review-bottom">
                      <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Sus pen disse viverra ed viverra. Mauris ullarper euismod vehicula.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="ratting-form-wrapper pl-50">
                <h3>Add a Review</h3>
                <div class="ratting-form">
                  <form action="#">
                    <div class="star-box">
                      <span>Your rating:</span>
                      <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="rating-form-style mb-10">
                          <input placeholder="Name" type="text" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="rating-form-style mb-10">
                          <input placeholder="Email" type="email" />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="rating-form-style form-submit">
                          <textarea name="Your Review" placeholder="Message"></textarea>
                          <input type="submit" value="Submit" />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if show_accessories %}
  <div class="arrival-area mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Accessories</h2>
          </div>
        </div>
      </div>
      <!-- tab content -->
      <div class="tab-content">
        <!-- First-Tab -->
        <div id="tab-1" class="tab-pane active fade">
          <!-- Arrivel slider start -->
          <div class="arrival-slider-wrapper slider-nav-style-1">
            {% for product in productInfo.prislusenstvo %}
              <div class="slider-single-item">
                <article class="list-product text-center">
                  <div class="product-inner">
                    <div class="img-block">
                      <a href="{{ rootUrl}}/{{ product.url }}" class="thumbnail">
                        <img class="first-img" src="{{ uploadedFileUrl }}/{{ product["image"] }}" alt="{{ product.name_lang_1 }}" />
                      </a>
                      <div class="add-to-link">
                        <ul>
                          <li>
                            <a class="quick_view" href="{{ rootUrl}}/{{ product.url }}" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                              <i class="lnr lnr-magnifier"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <ul class="product-flag">
                      {% if product.priceInfo.discountTotal != 0 %}
                        <li class="tag new">-{{ product.priceInfo.discountTotal|number_format(2, ",", " ") }} %</li>
                      {% endif %}
                      {% if product.is_new == 1 %}
                        <li class="tag new">new</li>
                      {% endif %}
                      {% if product.is_sale_out == 1 %}
                        <li class="tag sale">sale</li>
                      {% endif %}
                      {% if product.is_on_sale == 1 %}
                        <li class="tag action">action</li>
                      {% endif %}
                      {% if product.is_recommended == 1 or product.is_top == 1 %}
                        <li class="tag sale">{{ product.is_top == 1 ? "top" : "recommended" }}</li>
                      {% endif %}
                    </ul>
                    <div class="product-decs">
                      <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                      <h2><a href="single-product.html" class="product-link">{{ product.name_lang_1 }}</a></h2>
                      <div class="pricing-meta">
                        <ul>
                          <li class="old-price">{{ product.sale_price|number_format(2, ",", " ") }} €</li>
                          <li class="current-price">{{ product.sale_price|number_format(2, ",", " ") }} €</li>
                        </ul>
                      </div>
                    </div>
                    <div class="cart-btn">
                      <a 
                        href="javascript:void(0)"
                        onclick="AbeloThemeCart.addProduct({{ product.id }}, 1);" 
                        class="add-to-curt" 
                        title="Add to cart">
                      Add to cart</a>
                    </div>
                  </div>
                </article>
              </div>
            {% endfor %}
          </div> 
          <!-- Arrivel slider end -->
        </div>
        <!-- First-Tab -->
      </div>
      <!-- tab content end-->
    </div>
  </div>
{% endif %}

{% if zobrazit_podobne_produkty %}
  <div class="arrival-area mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Similarly products</h2>
          </div>
        </div>
      </div>
      <!-- tab content -->
      <div class="tab-content">
        <!-- First-Tab -->
        <div id="tab-1" class="tab-pane active fade">
          <!-- Arrivel slider start -->
          <div class="arrival-slider-wrapper slider-nav-style-1">
            {% for product in productInfo.podobne %}
              <div class="slider-single-item">
                <article class="list-product text-center">
                  <div class="product-inner">
                    <div class="img-block">
                      <a href="{{ rootUrl}}/{{ product.url }}" class="thumbnail">
                        <img class="first-img" src="{{ uploadedFileUrl }}/{{ product["image"] }}" alt="{{ product.name_lang_1 }}" />
                      </a>
                      <div class="add-to-link">
                        <ul>
                          <li>
                            <a class="quick_view" href="{{ rootUrl}}/{{ product.url }}" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                              <i class="lnr lnr-magnifier"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <ul class="product-flag">
                      {% if product.priceInfo.discountTotal != 0 %}
                        <li class="tag new">-{{ product.priceInfo.discountTotal|number_format(2, ",", " ") }} %</li>
                      {% endif %}
                      {% if product.is_new == 1 %}
                        <li class="tag new">new</li>
                      {% endif %}
                      {% if product.is_sale_out == 1 %}
                        <li class="tag sale">sale</li>
                      {% endif %}
                      {% if product.is_on_sale == 1 %}
                        <li class="tag action">action</li>
                      {% endif %}
                      {% if product.is_recommended == 1 or product.is_top == 1 %}
                        <li class="tag sale">{{ product.is_top == 1 ? "top" : "recommended" }}</li>
                      {% endif %}
                    </ul>
                    <div class="product-decs">
                      <h2><a href="single-product.html" class="product-link">{{ product.name_lang_1 }}</a></h2>
                      <div class="pricing-meta">
                        <ul>
                          <li class="old-price">{{ product.sale_price|number_format(2, ",", " ") }} €</li>
                          <li class="current-price">{{ product.sale_price|number_format(2, ",", " ") }} €</li>
                        </ul>
                      </div>
                    </div>
                    <div class="cart-btn">
                      <a 
                        href="javascript:void(0)"
                        onclick="AbeloThemeCart.addProduct({{ product.id }}, 1);" 
                        class="add-to-curt" 
                        title="Add to cart">
                      Add to cart</a>
                    </div>
                  </div>
                </article>
              </div>
            {% endfor %}
          </div> 
          <!-- Arrivel slider end -->
        </div>
        <!-- First-Tab -->
      </div>
      <!-- tab content end-->
    </div>
  </div>
{% endif %}