<div class='modal-header'>
  {% if address.id > 0 %}
    {{ translate("Edit Address", "Customer") }}
  {% else %}
    {{ translate("Add Address", "Customer") }}
  {% endif %}
  <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>x</span></button>
</div>
<div class='modal-body'>
  <div class="single-my-account">
    <div class="myaccount-info-wrapper">
      <form method="post" id="addAddressForm">
        <input type="hidden" name="action" value="editAddress" />
        <input type="hidden" name="idAddress" value="{{ address.id }}" />
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="row">

              <div class="col-lg-6 col-md-12">
                <div class="billing-info">
                  <label>{{ translate("Delivery Given Name", "Customer") }}</label>
                  <input
                    type="text"
                    name="del_given_name"
                    value="{{ address.del_given_name }}"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="billing-info">
                  <label>{{ translate("Delivery Family Name", "Customer") }}</label>
                  <input
                    type="text"
                    name="del_family_name"
                    value="{{ address.del_family_name }}"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="billing-info">
                  <label>{{ translate("Delivery Company Name", "Customer") }}</label>
                  <input
                    type="text"
                    name="del_company_name"
                    value="{{ address.del_company_name }}"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="billing-info">
                  <label>{{ translate("Delivery Street 1", "Customer") }}</label>
                  <input
                    type="text"
                    name="del_street_1"
                    value="{{ address.del_street_1 }}"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="billing-info">
                  <label>{{ translate("Delivery Street 2", "Customer") }}</label>
                  <input
                    type="text"
                    name="del_street_2"
                    value="{{ address.del_street_2 }}"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="billing-info">
                  <label>{{ translate("Delivery ZIP", "Customer") }}</label>
                  <input
                    type="text"
                    name="del_zip"
                    value="{{ address.del_zip }}"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="billing-info">
                  <label>{{ translate("Delivery City", "Customer") }}</label>
                  <input
                    type="text"
                    name="del_city"
                    value="{{ address.del_city }}"
                  />
                </div>
              </div>
            </div>
          </div>

          <hr/>

          <div class="col-lg-12 col-md-12">
            <div class="billing-info">
              <label>{{ translate("Phone number", "Customer") }}</label>
              <input
                type="text"
                name="phone_number"
                value="{{ address.phone_number }}"
              />
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="billing-info">
              <label>{{ translate("Email", "Customer") }}</label>
              <input
                type="text"
                name="email"
                value="{{ address.email }}"
              />
            </div>
          </div>

          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="entries-edit-add text-center">
              <a
                href="javascript:void(0);"
                style="top: auto;"
                onclick="AbeloThemeCustomer.addAddress()"
              >
                {% if address.id > 0 %}
                  {{ translate("Edit", "Customer") }}
                {% else %}
                  {{ translate("Add", "Customer") }}
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>