<html>
<head>
  <style>

    #w_swi_orders_template * {font-family:sans-serif; font-size:8pt;}

    #w_swi_orders_template .fbigger {font-size:11pt;}

    #w_swi_orders_template table {width:100%; border-collapse:collapse;}
    #w_swi_orders_template table td {vertical-align:top;}

    #w_swi_orders_template .dtop td {padding:0 2pt 8pt 2pt;}
    #w_swi_orders_template .dtop td, #w_swi_orders_template .dtop td * {font-size:16pt;}
    #w_swi_orders_template .dmain {border:0.2mm solid #000;}
    #w_swi_orders_template .dcolumn {width:50%; float:left;}
    #w_swi_orders_template .content {padding:4pt;}
    #w_swi_orders_template .odberatel {border:0.5mm solid #000;}
    #w_swi_orders_template .dodavatel_popis {padding-top:4pt; text-align:left}

    #w_swi_orders_template .dodod_info {color: #777; text-transform:uppercase; padding-bottom:2mm; text-align:left;}
    #w_swi_orders_template .dodod_info span {border-bottom:0.2mm solid #777; font-size:8pt; font-style:italic;}

    #w_swi_orders_template .order_info {padding:16pt 2pt 6pt 2pt; text-align:left;}

    #w_swi_orders_template table.w_swi_orders_udaje tr.sep td {width:100%; height:4pt;}
    #w_swi_orders_template table.w_swi_orders_udaje td {padding:0.8pt; vertical-align:middle;}

    #w_swi_orders_template table#w_swi_orders_template_items td {padding:0.8pt; vertical-align:middle;}
    #w_swi_orders_template table#w_swi_orders_template_items tr.header td {font-weight:bold; font-style:italic;}
    #w_swi_orders_template table#w_swi_orders_template_items tr.sep td {width:100%; height:4pt;}

    #w_swi_orders_template #w_swi_orders_template_sumar {width:40%; float:right;}
    #w_swi_orders_template #w_swi_orders_template_sumar table td {padding:0.8pt; vertical-align:middle; font-size:9pt;}
    #w_swi_orders_template #w_swi_orders_template_sumar table tr.sep td {width:100%; height:10pt;}
    #w_swi_orders_template #w_swi_orders_template_sumar table tr.suma td {border-top:0.2mm solid #777; padding-top:1mm;}

    #w_swi_orders_template .podpisy {}
    #w_swi_orders_template .podpisy table td {text-align:center;}
    #w_swi_orders_template .podpisy .podpis_info {border-top:0.2mm dotted #777;}

    ._num {text-align:right;}

    #w_swi_orders_template_footer td {color:#777; font-size:6pt; }
  </style>
</head>

<body onload='xwindow.print();'>
  <div id='w_swi_orders_template'>

    <!-- TOP -->
    <div class='dtop'>
      <table>
        <tr>
          <td>
            {{ translate("Order no.") }} {{ order.number }} - {{ translate("invoice") }}
          </td>
        </tr>
      </table>
    </div>

    <div class='dmain'>
      <!-- DODÁVATEĽ -->
      <div class='dcolumn'>
        <div class='content'>
          <div class='dodod_info'>
            <span>
              {{ translate("Supplier") }}
            </span>
            <div></div>
          </div>
          <div>

          <table class='w_swi_orders_udaje' id='w_swi_orders_udaje_odberatel'>
            <tr>
              <td colspan=4 style='width:100%;' class='fbigger'><b>{{ order.SUPPLIER.name }}</b></td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ order.SUPPLIER.street_1 }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ order.SUPPLIER.zip }} {{ order.SUPPLIER.city }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ order.SUPPLIER.country }}</td>
            </tr>

            <tr class='sep'><td colspan=4><div></div></td></tr>

            <tr class=''>
              <td style='width:20%;'>
                {{ translate("Company ID") }}
              </td>
              <td style='width:30%;'>{{ order.SUPPLIER.company_id }}</td>
              <td style='width:20%;'>
                {{ translate("Phone") }}:
              </td>
              <td style='width:30%;'>{{ order.SUPPLIER.phone_number }}</td>
            </tr>
            <tr class=''>
              <td style='width:20%;'>
                {{ translate("TAX ID") }}:
              </td>
              <td style='width:30%;'>{{ order.SUPPLIER.company_tax_id }}</td>
              <td style='width:20%;'>
                  {{ translate("Email") }}:
              </td>
              <td style='width:30%;'>{{ order.SUPPLIER.email }}</td>
            </tr>
            <tr class=''>
              <td style='width:20%;'> 
                {{ translate("VAT ID") }}:
              </td>
              <td style='width:30%;'>{{ order.SUPPLIER.company_vat_id }}</td>
              <td style='width:20%;'>Web:</td>
              <td style='width:30%;'>{{ order.SUPPLIER.www }}</td>
            </tr>
          </table>

          </div>
          <div class='dodavatel_popis'>
            {{ order.identita_strucny_popis }}
          </div>
        </div>
      </div>

      <!-- CUSTOMER -->
      <div class='dcolumn'>
        <div class='content odberatel'>
          <div class='dodod_info'>
            <span>
              {{ translate("Customer") }}:
            </span>
            <div></div>
          </div>

          <table class='w_swi_orders_udaje' id='w_swi_orders_udaje_odberatel'>
            <tr>
              <td colspan=4 style='width:100%;' class='fbigger'><b>{{ order.CUSTOMER.given_name }} {{ order.CUSTOMER.family_name }}</b></td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ order.CUSTOMER.street_1 }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ order.CUSTOMER.street_2 }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ order.CUSTOMER.zip }} {{ order.CUSTOMER.city }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ order.CUSTOMER.country }}</td>
            </tr>

            <tr class='sep'><td colspan=4><div></div></td></tr>

            <tr class=''>
              <td style='width:20%;'>
                  {{ translate("Company ID") }}:
              </td>
              <td style='width:30%;'>{{ order.CUSTOMER.company_id }}</td>
              <td style='width:20%;'>
                {{ translate("Phone") }}:
              </td>
              <td style='width:30%;'>{{ order.CUSTOMER.phone_number }}</td>
            </tr>
            <tr class=''>
              <td style='width:20%;'>
                {{ translate("TAX ID") }}:
              </td>
              <td style='width:30%;'>{{ order.CUSTOMER.company_tax_id }}</td>
              <td style='width:20%;'>
                {{ translate("Email") }}:
              </td>
              <td style='width:30%;'>{{ order.CUSTOMER.email }}</td>
            </tr>
            <tr class=''>
              <td style='width:20%;'>
                {{ translate("VAT ID") }}:
              </td>
              <td style='width:30%;'>{{ order.CUSTOMER.company_vat_id }}</td>
            </tr>
          </table>


        </div>
        <div class='content'>
          <table class='w_swi_orders_udaje' id='w_swi_orders_udaje_ostatne'>
            <tr>
              <td style='width:50%;'>
                {{ translate("Payment") }}:
              </td>
              <td style='width:50%;'>{{ order.HEADER.payment_method_value }}</td>
            </tr>
            <tr>
              <td style='width:50%;'>
                {{ translate("Order number") }}:
              </td>
              <td style='width:50%;'>{{ order.HEADER.order_number }}</td>
            </tr>

            <tr class='sep'><td colspan=2><div></div></td></tr>

            <tr>
              <td style='width:50%;'>
                {{ translate("Date of issue") }}:
              </td>
              <td style='width:50%;'>{{ order.delivery_time|date(locale.dateFormat) }}</td>
            </tr>
            <tr>
              <td style='width:50%;'>
                {{ translate("Date of delivery") }}:
              </td>
              <td style='width:50%;'>{{ order.issue_time|date(locale.dateFormat) }}</td>
            </tr>
            <tr>
              <td style='width:50%;'>
                {{ translate("Due date") }}:
              </td>
              <td style='width:50%;'><b>{{ order.payment_due_time|date(locale.dateFormat) }}</b></td>
            </tr>
          </table>
        </div>
      </div>
      <div style='clear:both;'></div>
    </div>

    <!-- ITEMS -->
    <div class='dmain'>
      <div class='content'>
        <table id='w_swi_orders_template_items'>
          <thead>
            <tr class='header'>
              <td style='width:26%;' class=''>
                {{ translate("Name") }}
              </td>
              <td style='width:9%;' class='_num'>
                {% if template == 1 %}
                  {{ translate("Price") }}<br/>{{ translate("excl. template") }}
                {% else %}
                  {{ translate("Price") }}<br/>
                {% endif %}
              </td>
              {% if template == 1 %}
                <td style='width:9%;' class='_num'>
                  {{ translate("VAT") }}
                </td>
              {% endif %}
              {% if template == 1 %}
                <td style='width:9%;' class='_num'>
                  {{ translate("Price") }}<br/>{{ translate("incl. template") }}
                </td>
              {% endif %}
              <td style='width:7%;' class='_num'>
                {{ translate("Amount") }}
              </td>
              <td style='width:5%; text-align:center;' class=''>
                  {{ translate("Unit") }}
              </td>
              <td style='width:11%;' class='_num'>
                {% if template == 1 %}
                  {{ translate("Subtotal") }}<br/>{{ translate("excl. VAT") }}
                {% else %}
                  {{ translate("Subtotal") }}
                {% endif %}
              </td>
              {% if template == 1 %}
                <td style='width:11%;' class='_num'>
                  {{ translate("Subtotal") }}<br/> {{ translate("incl. VAT") }}
                </td>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            <tr class='sep'><td colspan=10><div></div></td></tr>

            {% for item in order.ITEMS %}
              <tr>
                <td style='width:26%;' class=''>
                  {{ item.item }}
                </td>
                <td style='white-space:nowrap;width:9%;' class='_num'>{{ item.unit_price|formatPrice }} €</td>
                {% if template == 1 %}
                  <td style='white-space:nowrap;width:6%;' class='_num'>{{ item.vat_percent }} %</td>
                {% endif %}
                {% if template == 1 %}
                  <td style='white-space:nowrap;width:9%;' class='_num'>{{ item.PRICES_FOR_INVOICE.unitPriceInclVAT|formatPrice }} €</td>
                {% endif %}
                <td style='white-space:nowrap;width:7%;' class='_num'><b>{{ item.quantity }}</b></td>
                <td style='white-space:nowrap;width:5%; text-align:center;' class=''>{{ item.DELIVERY_UNIT.unit }}</td>
                <td style='white-space:nowrap;width:11%;' class='_num'>{{ item.PRICES_FOR_INVOICE.totalPriceExclVAT|formatPrice }} €</td>
                {% if template == 1 %}
                  <td style='white-space:nowrap;width:11%;' class='_num'>{{ item.PRICES_FOR_INVOICE.totalPriceInclVAT|formatPrice }} €</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- SUMMARY -->
    <div style='padding-top:5mm;'>
      <div class='content'>

        <div id='w_swi_orders_template_sumar'>
          <table>

            {% if template == 1 %}
              {% for sadzba in order.SADZBY_DPH %}
                <tr>
                  <td>
                    {{ translate("VAT") }}
                    {{ sadzba.sadzba }} %
                  </td>
                  <td class='_num'>
                    {{ sadzba.zaklad_celkom|number_format(2, ',', ' ') }} €
                  </td>
                </tr>
              {% endfor %}
            {% endif %}

            <tr>
              <td class='fbigger'>
                {% if template == 2 or template == 3 %} <b> {% endif %}
                  {{ translate("Total") }}
              </td>
              <td class='_num fbigger'>
                {% if template == 2 or template == 3 %} <b> {% endif %}
                  {{ order.SUMMARY.price_total_excl_vat|number_format(2, ',', ' ') }} €
                {% if template == 2 or template == 3 %} </b> {% endif %}
              </td>
            </tr>
            
            <tr class='sep'><td colspan=2><div></div></td></tr>

            {% if template == 1 %}
              {% for sadzba in order.SADZBY_DPH %}
                <tr>
                  <td>
                    {{ translate("VAT") }}
                    {{ sadzba.sadzba }} %
                  </td>
                  <td class='_num'>
                    {{ sadzba.suma_celkom|number_format(2, ',', ' ') }} €
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
            {% if template == 1 %}
              <tr>
                <td>
                  {{ translate("VAT Total") }}
                </td>
                <td class='_num'>
                  {{ order.SUMMARY.vat_total|number_format(2, ',', ' ') }} €
                </td>
              </tr>
            {% endif %}

            <tr class='sep'><td colspan=2><div></div></td></tr>

            {% if template == 1 %}
              <tr class='suma'>
                <td class='fbigger'>
                  <b>
                    {{ translate("Total incl. VAT") }}
                  </b>
                </td>
                <td class='_num fbigger'>
                  <b>{{ order.SUMMARY.price_total_incl_vat|number_format(2, ',', ' ') }} €</b>
                </td>
              </tr>
            {% endif %}
          </table>
        </div>

        <div style='clear:both;'></div>
      </div>
    </div>

    <!-- PECIATKA a PODPIS -->
    <div>
      <div class='content podpisy' style='padding-top:0; padding-bottom:0;'>
        <div style='page-break-inside:avoid;padding-top:25mm;'>
          <table>
            <tr>
              <td style='width:50%;'>
                <span class='podpis_info'>
                  {{ translate("Stamp and signature") }}
                </span>
              </td>
              <td style='width:50%;'>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>
</html>