<script>
  $(document).ready(function() {
    AbeloThemeProductCatalog.loadUrlParams('brands');
  })
</script>

<!-- Sidebar Area Start -->
<div class="shop-sidebar-wrap">
  {% if showProductCategories %}
    <div class="sidebar-widget mb-30px">
      <h3 class="sidebar-title"><span>Categories</span></h3>
      <div class="accordion" id="accordionExample">
        {% for category in filterInfo.allCategoriesAndSubCategories %}
          {% if category.subCategory is not empty %}
            {% set activeCategory = "" %}
            {% for subCategory in category.subCategory %}
              {% if subCategory.id == filterInfo.idCategory %}
                {% set activeCategory = subCategory.id %}
              {% endif %}
            {% endfor %}
            <div class="card">
              <div class="card-header" id="heading_{{category.id}}">
                <a 
                  href="#"
                  {% if filterInfo.idCategory == category.id %}
                    class="sidebar-active"
                  {% endif %} 
                  data-toggle="collapse" 
                  data-target="#collapse_{{category.id}}" 
                  aria-expanded="false" 
                  aria-controls="collapse_{{category.id}}" 
                  class="collapsed"
                >
                  <span 
                    onclick="
                      AbeloThemeProductCatalog.setFilter('idProductCategory', {{ category.id }});
                      AbeloThemeProductCatalog.update(
                        $('#productCatalogDefaultContainerDiv'),
                        '{{ rewriteBase }}{{ category.url }}'
                      );
                      $(this).addClass('sidebar-active');
                    "
                  >{{ category.name }}</span>
                </a>
              </div>
              <div 
                id="collapse_{{ category.id }}" 
                {% if filterInfo.idCategory == category.id or filterInfo.idCategory == activeCategory %} 
                  class="collapse show" 
                {% else %}
                  class="collapse" 
                {% endif %}
                aria-labelledby="heading_{{ category.id }}" 
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <ul class="category-list">
                    {% for subCategory in category.subCategory %}
                      <li>
                        <a 
                          href="javascript:void(0)"
                          {% if filterInfo.idCategory == subCategory.id %}
                            class="sidebar-active"
                          {% endif %}
                          onclick="
                            AbeloThemeProductCatalog.setFilter('idProductCategory', {{ subCategory.id }});
                            AbeloThemeProductCatalog.update(
                              $('#productCatalogDefaultContainerDiv'),
                              '{{ rewriteBase }}{{ subCategory.url }}'
                            );
                            $(this).addClass('sidebar-active');
                          ">{{ subCategory.TRANSLATIONS.name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div> <!-- card -->
          {% else %}
           <div class="card">
              <div class="card-header sidebar-span" id="heading_{{ category.id }}">
                <span 
                  {% if filterInfo.idCategory == category.id %}
                    class="sidebar-active"
                  {% endif  %}
                  onclick="
                    AbeloThemeProductCatalog.setFilter('idProductCategory', {{ category.id }});
                    AbeloThemeProductCatalog.update(
                      $('#productCatalogDefaultContainerDiv'),
                      '{{ rewriteBase }}{{ category.url }}'
                    );
                    $(this).addClass('sidebar-active');
                  "
                >{{ category.name }}</span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}


  <!-- Sidebar single item -->
  <div class="sidebar-widget-group mt-20">
    {% if zobrazit_filter %}
      <h3 class="sidebar-title m-0"><span>Filter By</span></h3>
      <!-- Sidebar single item -->
      <div class="sidebar-widget no-cba mt-20">
        <h4 class="pro-sidebar-title">Colour</h4>
        <div class="sidebar-widget-list">
          <ul>
            <li>
              <div class="sidebar-widget-list-left">
                <input type="checkbox" /> <a href="#">Grey<span>(2)</span> </a>
                <span class="checkmark grey"></span>
              </div>
            </li>
            <li>
              <div class="sidebar-widget-list-left">
                <input type="checkbox" value="" /> <a href="#">White<span>(4)</span></a>
                <span class="checkmark white"></span>
              </div>
            </li>
            <li>
              <div class="sidebar-widget-list-left">
                <input type="checkbox" value="" /> <a href="#">Black<span>(4)</span> </a>
                <span class="checkmark black"></span>
              </div>
            </li>
            <li>
              <div class="sidebar-widget-list-left">
                <input type="checkbox" value="" /> <a href="#">Camel<span>(4)</span> </a>
                <span class="checkmark camel"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>   
    {% endif %}
    {% if show_brands %}
      <div class="sidebar-widget mt-30">
        <h4 class="pro-sidebar-title">Brand</h4>
        <div class="sidebar-widget-list">
          <ul>
            {% for brand in filterInfo.allBrands %}
              <li>
                <div class="sidebar-widget-list-left">
                  <input 
                    type="checkbox" 
                    name="ProductFilter_brand_{{ loop.index }}"
                    id="ProductFilter_brand_{{ loop.index }}"
                    value=""
                    onchange="
                      let div = $('#productCatalogDefaultContainerDiv');
                      if ($(this).is(':checked')) {
                        AbeloThemeProductCatalog.addValueToFilter('brands', {{ brand.id }}).update(div);
                      } else {
                        AbeloThemeProductCatalog.removeValueFromFilter('brands', {{ brand.id }}).update(div);
                      }
                    "
                    data-id-brand="{{ brand.id }}"
                    {% if brand.id in filterInfo.filteredBrands %} checked {% endif %}
                  />
                  <label for="ProductFilter_brand_{{ loop.index }}" class="filter-label">
                    {{ brand.name }}
                  </label>
                  <span class="checkmark"></span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
  <!-- Sidebar single item -->
  <!--<div class="sidebar-widget tag mt-30px">
    <div class="main-heading">
      <h3 class="sidebar-title"><span>Tags</span></h3>
    </div>
    <div class="sidebar-widget-tag">
      <ul>
        <li><a href="#">Tvs</a></li>
        <li><a href="#">Mobiles</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Audio</a></li>
        <li><a href="#">Cameras</a></li>
        <li><a href="#">Gamepad</a></li>
        <li><a href="#">Video</a></li>
      </ul>
    </div>
  </div>-->
  <!-- Sidebar single item -->
</div>

                    