<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel='shortcut icon' href='{% if config.brand.favicon == "" %}{{ config.url }}/adios/assets/images/favicon.png{% else %}{{ config.brand.favicon }}{% endif %}'>
  <title>{{ config.brand.title }}</title>
  <script src='{{ config.url }}/adios/cache.js'></script>
  <link rel=stylesheet type='text/css' href='{{ config.url }}/adios/cache.css' rel="stylesheet">
  <script>
    var _APP_URL = '{{ config.url }}';
    var _DEVEL_MODE = {% if config.devel_mode %} true {% else %} false {% endif %};

    {# if (_DEVEL_MODE) {
      setTimeout(desktop_console_update, 300);
    } #}

    var _LANG = '{{ config.language }}';
    var _TRANSLATIONS = adios_language_translations[_LANG];

  </script>
</head>

<body id="page-top">
  <div id='adios_loader_line'></div>
  <div id='adios_window_wrapper'></div>

  <!-- <div id='adios_console'>
    <div id='adios_console_close' onclick='desktop_hide_console();'>
      <i class="fas fa-times" title="Close console"></i>
    </div>
    <div id='adios_console_clear' onclick='desktop_clear_console();'>
      <i class="fas fa-trash-alt" title="Clear console"></i>
    </div>

    <div id='adios_console_header' onclick='desktop_toggle_console();'>
      <span id='adios_console_title'>Console</span>
    </div>
    <div id='adios_console_content'>
    </div>
  </div> -->

  {% if userNotifications|length > 0 %}
    <div id='adios_user_notifications'>
      {% for notification in userNotifications %}
        <div class='alert alert-danger' role='alert' onclick='$(this).fadeOut(function() { $(this).remove(); })'>
          {{ notification|raw }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ config.url }}">
        {% if config.brand.sidebar.icon != "" %}
          <div class="sidebar-brand-icon">
            <img src="{{ config.brand.sidebar.icon }}" />
          </div>
        {% endif %}
        {% if config.brand.sidebar.title != "" %}
          <div class="sidebar-brand-text ml-3">
            {{ config.brand.sidebar.title|raw }}
            <div class="sidebar-brand-text-sub">{{ config.brand.sidebar.subtitle|raw }}</div>
          </div>
        {% endif %}
      </a>

      {% for shortcut in config.desktop.sidebarItems %}
        {% if shortcut.separator %}
          <hr class="sidebar-divider d-none d-md-block">
        {% else %}
          <li class="nav-item" style="{{ shortcut.style }}">
            <a
              id="nav-link-{{ loop.index }}"
              {% if shortcut.sub is iterable %}
                class="nav-link collapsed"
                href="javascript:void(0)"
                data-toggle="collapse"
                data-target="#collapse{{ loop.index }}"
                aria-expanded="true"
                aria-controls="collapse{{ loop.index }}"
              {% else %}
                class="nav-link"
              {% endif %}
              href="javascript:void(0)"
              onclick="
                Cookies.set('sidebarActiveMainItem', '{{ loop.index }}', 1);
                Cookies.set('sidebarActiveSubItem', '0', 1);
                {{ shortcut.onclick|raw }}
              "
            >
              <i class="{{ shortcut.fa_icon }}"></i>
              <span>{{ shortcut.title }}</span>
            </a>
            {% if shortcut.sub is iterable %}
              <div
                id="collapse{{ loop.index }}"
                class="collapse {% if _COOKIE.sidebarActiveMainItem == loop.index %} show {% endif %}"
                aria-labelledby="heading{{ loop.index }}"
                data-parent="#accordionSidebar"
              >
                <div class="collapse-inner">
                  {% for sub in shortcut.sub %}
                    <a
                      class="collapse-item dropdown collapsed {% if _COOKIE.sidebarActiveMainItem == loop.parent.loop.index and _COOKIE.sidebarActiveSubItem == loop.index %} active {% endif %}"
                       style="{{ sub.style }}"
                      onclick="Cookies.set('sidebarActiveSubItem', '{{ loop.index }}', 1); {{ sub.onclick|raw }}"
                      role="button"
                      href="#sidebarSubSub{{ loop.parent.loop.index }}-{{ loop.index }}"
                      data-toggle="collapse" aria-expanded="false"
                    >
                      <i class="{{ sub.fa_icon }} mr-2"></i>
                      {{ sub.title }}
                    </a>
                    {% if sub.sub is iterable %}
                      <div
                        class="sidebar-sub-sub {% if _COOKIE.sidebarActiveMainItem == loop.parent.loop.index and _COOKIE.sidebarActiveSubItem == loop.index %} {% else %} collapse {% endif %}"
                        id="sidebarSubSub{{ loop.parent.loop.index }}-{{ loop.index }}"
                      >
                        {% for subsub in sub.sub %}
                          <a
                            class="nav-item"
                            style="display:block;margin-bottom:0.1rem;margin-top:0.1rem;"
                            href="javascript:void(0)"
                            onclick="{{ subsub.onclick|raw }}"
                          >{{ subsub.title }}</a>
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}

      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div> -->

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
          {% if searchButton.display %}
            <form
              class='d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search'
              method='GET'
            >
              <div class='input-group'>
                <input
                  type='text'
                  name='search'
                  class='form-control bg-light border-0 small'
                  value='{{ _REQUEST.search }}'
                  placeholder='{{ searchButton.placeholder }}'
                  aria-label='Search'
                />
                <div class='input-group-append'>
                  <button class='btn btn-primary' type='button' onclick='$(this).closest("form").submit();'>
                    <i class='fas fa-search fa-sm'></i>
                  </button>
                </div>
              </div>
            </form>
          {% endif %}

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Language selection -->
            {% if config.available_languages|length > 0 %}
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle " href="javascript:void(0)" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ config.language|upper }}</span>
                  <i class='btn btn-light btn-sm fas fa-language'></i>
                </a>
                <div class="dropdown-menu shadow animated--grow-in" aria-labelledby="languageDropdown">
                  {% for lang in config.available_languages %}
                    <a
                      href="javascript:void(0);"
                      onclick="
                        _ajax_read('Desktop/Ajax/SetLanguage', {'language': '{{ lang }}'}, function(res) {
                          location.reload()
                        });
                      ";
                      class="dropdown-item {% if lang == config.language %} active {% endif %}"
                    >
                      <i class="{{ item.fa_icon }} fa-sm fa-fw mr-2 text-gray-400"></i>
                      {{ lang|upper }}
                    </a>
                  {% endfor %}
                </div>
              </li>
            {% endif %}

            <!-- Nav Item - User Information -->
            {% if user.id > 0 %}
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle " href="javascript:void(0)" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.name }} {{ user.surname }}</span>
                  {% if updates_available %}
                    <i class='btn btn-warning btn-sm btn-circle fas fa-exclamation-triangle' style='font-weight:900'></i>
                  {% else %}
                    <i class='btn btn-primary btn-sm btn-circle fas fa-user-tie' style='font-weight:900'></i>
                  {% endif %}
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  {% for item in settingsMenuItems %}
                    <a class="dropdown-item" href="javascript:void(0)" onclick="{{ item.onclick|raw }}">
                      <i class="{{ item.fa_icon }} fa-sm fa-fw mr-2 text-gray-400"></i>
                      {{ item.text }}
                    </a>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  {% for item in develMenuItems %}
                    <a class="dropdown-item" href="javascript:void(0)" onclick="{{ item.onclick|raw }}">
                      <i class="{{ item.fa_icon }} fa-sm fa-fw mr-2 text-gray-400"></i>
                      {{ item.text }}
                    </a>
                  {% endfor %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal">
                    <i class="{{ settingsLogoutItems.fa_icon }} fa-sm fa-fw mr-2 text-gray-400"></i>
                    {{ settingsLogoutItems.text }}
                  </a>
                </div>
              </li>
            {% endif %}
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div id='adios_main_content' class="container-fluid">
          {% if desktopContentAction != "" %}
            {{ adiosAction(desktopContentAction, desktopContentActionParams)|raw }}
          {% endif %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="copyright my-auto">
          Administration panel based on ADIOS framework. Created by <a href='https://www.wai.sk' target='_blank'>www.wai.sk</a>.<br/>
          Credits: Twig, Bootstrap, FontAwesome, Vue.js, Quilljs, jQuery, Chart.js, DataTables and other 3rd-party libraries.
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ settingsLogoutItems.consent }}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-icon-split" type="button" data-dismiss="modal">
            <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
            <span class="text">{{ settingsLogoutItems.not_logout }}</span>
          </button>
          <a class="btn btn-primary btn-icon-split" href="{{ config.url }}/Logout">
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <span class="text">{{ settingsLogoutItems.text }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
