<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel='shortcut icon' href='{% if config.brand.favicon == "" %}{{ config.url }}/adios/assets/images/favicon.png{% else %}{{ config.brand.favicon }}{% endif %}'>
  <title>{{ config.brand.title }}</title>
  <script src='{{ config.url }}/adios/cache.js'></script>
  <link rel=stylesheet type='text/css' href='{{ config.url }}/adios/cache.css' rel="stylesheet">
</head>

<body>

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div
                class="col-lg-6 d-none d-lg-block bg-login-image"
                style="background-image: url('{{ config.brand.login.splash }}')"
              >
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 mb-0">{{ config.brand.title }}</h1>
                    <p class="mb-4">{{ config.brand.subtitle }}</p>
                  </div>
                  <form class="user" id="login_form" action="" method=POST>
                    <input type=hidden name='language' id='language' value='{{ config.language }}'>
                    <input type=hidden name='authUser' id='authUser' value='1'>

                    <div class="form-group">
                      <input
                        type=text
                        name='login'
                        id='login'
                        value='{{ login }}'
                        class='form-control form-control-user'
                        placeholder='User name or email'
                        autofocus
                        onkeypress='
                          if (event.keyCode == 13) {
                            document.getElementById("login_form").submit();
                          }
                        '
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type=password
                        name='password'
                        id='password'
                        value=''
                        class='form-control form-control-user'
                        placeholder='Password'
                        onkeypress='
                          if (event.keyCode == 13) {
                            document.getElementById("login_form").submit();
                          }
                        '
                      />
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type='checkbox' id='keep_logged_in' class='custom-control-input' name='keep_logged_in' value=1 checked>
                        <label class="custom-control-label" for="keep_logged_in">Keep me logged in</label>
                      </div>
                    </div>
                    <a
                      href="javascript:void(0)"
                      onclick='document.getElementById("login_form").submit();'
                      class="btn btn-primary btn-user btn-block"
                    >
                      Login
                    </a>
                    <div class="mt-4 text-center">
                      Surikata e-commerce platform, version {{ config.build.version }}.
                    </div>
                  </form>
                  {% if login != '' and not userLogged %}
                    <div class='small mt-4 text-danger'>Invalid user name or password. Try again please.</div>
                  {% endif %}

                  <!-- <hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
