{{ panels.header.html|raw }}
{{ panels.navigation.html|raw }}

<div class="main_content">
  <div class="shop-category-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {% if panels.section_1.html != "" %} <div class="mt-5">{{ panels.section_1.html|raw }}</div> {% endif %}
          {% if panels.section_2.html != "" %} <div class="mt-5">{{ panels.section_2.html|raw }}</div> {% endif %}
          {% if panels.section_3.html != "" %} <div class="mt-5">{{ panels.section_3.html|raw }}</div> {% endif %}
          {% if panels.section_4.html != "" %} <div class="mt-5">{{ panels.section_4.html|raw }}</div> {% endif %}
          {% if panels.section_5.html != "" %} <div class="mt-5">{{ panels.section_5.html|raw }}</div> {% endif %}
          {% if panels.section_6.html != "" %} <div class="mt-5">{{ panels.section_6.html|raw }}</div> {% endif %}
          {% if panels.section_7.html != "" %} <div class="mt-5">{{ panels.section_7.html|raw }}</div> {% endif %}
          {% if panels.section_8.html != "" %} <div class="mt-5">{{ panels.section_8.html|raw }}</div> {% endif %}
          {% if panels.section_9.html != "" %} <div class="mt-5">{{ panels.section_9.html|raw }}</div> {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class='mt-5'>{{ panels.footer.html|raw }}</div>