<div class="container">
  <div class="row">
    <div class="col-lg-{{ column1Width }} {{ column1CSSClasses }}">
      {{ include(template_from_string(column1Content)) }}
    </div>
    <div class="col-lg-{{ column2Width }} {{ column2CSSClasses }}">
      {{ include(template_from_string(column2Content)) }}
    </div>
  </div>
</div>