<html>
<head>
  <style>

    #w_swi_invoices_template * {font-family:sans-serif; font-size:8pt;}

    #w_swi_invoices_template .fbigger {font-size:11pt;}

    #w_swi_invoices_template table {width:100%; border-collapse:collapse;}
    #w_swi_invoices_template table td {vertical-align:top;}

    #w_swi_invoices_template .dtop td {padding:0 2pt 8pt 2pt;}
    #w_swi_invoices_template .dtop td, #w_swi_invoices_template .dtop td * {font-size:16pt;}
    #w_swi_invoices_template .dmain {border:0.2mm solid #000;}
    #w_swi_invoices_template .dcolumn {width:50%; float:left;}
    #w_swi_invoices_template .content {padding:4pt;}
    #w_swi_invoices_template .odberatel {border:0.5mm solid #000;}
    #w_swi_invoices_template .dodavatel_popis {padding-top:4pt; text-align:left}

    #w_swi_invoices_template .dodod_info {color: #777; text-transform:uppercase; padding-bottom:2mm; text-align:left;}
    #w_swi_invoices_template .dodod_info span {border-bottom:0.2mm solid #777; font-size:8pt; font-style:italic;}

    #w_swi_invoices_template .invoice_info {padding:16pt 2pt 6pt 2pt; text-align:left;}

    #w_swi_invoices_template table.w_swi_invoices_udaje tr.sep td {width:100%; height:4pt;}
    #w_swi_invoices_template table.w_swi_invoices_udaje td {padding:0.8pt; vertical-align:middle;}

    #w_swi_invoices_template table#w_swi_invoices_template_items td {padding:0.8pt; vertical-align:middle;}
    #w_swi_invoices_template table#w_swi_invoices_template_items tr.header td {font-weight:bold; font-style:italic;}
    #w_swi_invoices_template table#w_swi_invoices_template_items tr.sep td {width:100%; height:4pt;}

    #w_swi_invoices_template #w_swi_invoices_template_sumar {width:40%; float:right;}
    #w_swi_invoices_template #w_swi_invoices_template_sumar table td {padding:0.8pt; vertical-align:middle; font-size:9pt;}
    #w_swi_invoices_template #w_swi_invoices_template_sumar table tr.sep td {width:100%; height:10pt;}
    #w_swi_invoices_template #w_swi_invoices_template_sumar table tr.suma td {border-top:0.2mm solid #777; padding-top:1mm;}

    #w_swi_invoices_template .podpisy {}
    #w_swi_invoices_template .podpisy table td {text-align:center;}
    #w_swi_invoices_template .podpisy .podpis_info {border-top:0.2mm dotted #777;}

    ._num {text-align:right;}

    #w_swi_invoices_template_footer td {color:#777; font-size:6pt; }
  </style>
</head>

<body onload='window.print();'>

  <div id='w_swi_invoices_template'>

    <!-- TOP -->
    <div class='dtop'>
      <table>
        <tr>
          <td>
            {% if language == "sk" %}
              Faktúra č. {{ invoice.number }} - daňový doklad
            {% elseif language == "en" %}
              Invoice no. {{ invoice.number }}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>

    <div class='dmain'>
      <!-- DODÁVATEĽ -->
      <div class='dcolumn'>
        <div class='content'>
          <div class='dodod_info'>
            <span>
              {% if language == "sk" %}
                Dodávateľ
              {% elseif language == "en" %}
                Supplier
              {% endif %}
            </span>
            <div></div>
          </div>
          <div>

          <table class='w_swi_invoices_udaje' id='w_swi_invoices_udaje_odberatel'>
            <tr>
              <td colspan=4 style='width:100%;' class='fbigger'><b>{{ invoice.supplier_name }}</b></td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ invoice.supplier_street_1 }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ invoice.supplier_zip }} {{ invoice.supplier_city }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ invoice.supplier_country }}</td>
            </tr>

            <tr class='sep'><td colspan=4><div></div></td></tr>

            <tr class=''>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  IČO:
                {% elseif language == "en" %}
                  Company ID
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.supplier_company_id }}</td>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  Telefón:
                {% elseif language == "en" %}
                  Phone:
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.supplier_phone }}</td>
            </tr>
            <tr class=''>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  DIČ:
                {% elseif language == "en" %}
                  TAX ID:
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.supplier_company_tax_id }}</td>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  Email:
                {% elseif language == "en" %}
                  Email:
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.supplier_email }}</td>
            </tr>
            <tr class=''>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  IČDPH:
                {% elseif language == "en" %}
                  VAT ID:
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.supplier_company_template_id }}</td>
              <td style='width:20%;'>Web:</td>
              <td style='width:30%;'>{{ invoice.supplier_www }}</td>
            </tr>
          </table>

          </div>
          <div class='dodavatel_popis'>
            {{ invoice.identita_strucny_popis }}
          </div>
        </div>
      </div>

      <!-- CUSTOMER -->
      <div class='dcolumn'>
        <div class='content odberatel'>
          <div class='dodod_info'>
            <span>
              {% if language == "sk" %}
                Odberateľ:
              {% elseif language == "en" %}
                Customer:
              {% endif %}
            </span>
            <div></div>
          </div>

          <table class='w_swi_invoices_udaje' id='w_swi_invoices_udaje_odberatel'>
            <tr>
              <td colspan=4 style='width:100%;' class='fbigger'><b>{{ invoice.customer_name }}</b></td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ invoice.customer_street_1 }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ invoice.customer_street_2 }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ invoice.customer_zip }} {{ invoice.customer_city }}</td>
            </tr>
            <tr>
              <td colspan=4 style='width:100%;'>{{ invoice.customer_country }}</td>
            </tr>

            <tr class='sep'><td colspan=4><div></div></td></tr>

            <tr class=''>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  IČO:
                {% elseif language == "en" %}
                  Company ID
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.customer_company_id }}</td>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  Telefón:
                {% elseif language == "en" %}
                  Phone:
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.customer_phone }}</td>
            </tr>
            <tr class=''>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  DIČ:
                {% elseif language == "en" %}
                  TAX ID:
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.customer_company_tax_id }}</td>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  Email:
                {% elseif language == "en" %}
                  Email:
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.customer_email }}</td>
            </tr>
            <tr class=''>
              <td style='width:20%;'>
                {% if language == "sk" %}
                  IČDPH:
                {% elseif language == "en" %}
                  VAT ID:
                {% endif %}
              </td>
              <td style='width:30%;'>{{ invoice.customer_company_template_id }}</td>
              <td style='width:20%;'>Web:</td>
              <td style='width:30%;'>{{ invoice.customer_www }}</td>
            </tr>
          </table>


        </div>
        <div class='content'>
          <table class='w_swi_invoices_udaje' id='w_swi_invoices_udaje_ostatne'>
            <tr>
              <td style='width:50%;'>
                {% if language == "sk" %}
                  Variabilný symbol:
                {% elseif language == "en" %}
                  Variable symbol:
                {% endif %}
              </td>
              <td style='width:50%;'><b>{{ invoice.variable_symbol }}</b></td>
            </tr>
            <tr>
              <td style='width:50%;'>
                {% if language == "sk" %}
                  Špecifický symbol:
                {% elseif language == "en" %}
                  Specific symbol:
                {% endif %}
              </td>
              <td style='width:50%;'>{{ invoice.specific_symbol }}</td>
            </tr>
            <tr>
              <td style='width:50%;'>
                {% if language == "sk" %}
                  Konštantný symbol:
                {% elseif language == "en" %}
                  Constant symbol:
                {% endif %}
              </td>
              <td style='width:50%;'>{{ invoice.constant_symbol }}</td>
            </tr>

            <tr class='sep'><td colspan=2><div></div></td></tr>

            <tr>
              <td style='width:50%;'>
                {% if language == "sk" %}
                  Forma úhrady:
                {% elseif language == "en" %}
                  Payment:
                {% endif %}
              </td>
              <td style='width:50%;'>{{ invoice.payment_method_value }}</td>
            </tr>
            <tr>
              <td style='width:50%;'>
                {% if language == "sk" %}
                  Číslo objednávky:
                {% elseif language == "en" %}
                  Order number:
                {% endif %}
              </td>
              <td style='width:50%;'>{{ invoice.order_number }}</td>
            </tr>
            <tr>
              <td style='width:50%;'>
                {% if language == "sk" %}
                  Číslo dodacieho listu:
                {% elseif language == "en" %}
                  Delivery note number:
                {% endif %}
              </td>
              <td style='width:50%;'>{{ invoice.cislo_dodacieho_listu }}</td>
            </tr>

            <tr class='sep'><td colspan=2><div></div></td></tr>

            <tr>
              <td style='width:50%;'>
                {% if language == "sk" %}
                  Dátum dodania:
                {% elseif language == "en" %}
                  Date of issue:
                {% endif %}
              </td>
              <td style='width:50%;'>{{ invoice.delivery_time|date(locale.dateFormat) }}</td>
            </tr>
            <tr>
              <td style='width:50%;'>
                {% if language == "sk" %}
                  Dátum vystavenia:
                {% elseif language == "en" %}
                  Date of delivery:
                {% endif %}
              </td>
              <td style='width:50%;'>{{ invoice.issue_time|date(locale.dateFormat) }}</td>
            </tr>
            <tr>
              <td style='width:50%;'>
                {% if language == "sk" %}
                  Dátum splatnosti:
                {% elseif language == "en" %}
                  Due date:
                {% endif %}
              </td>
              <td style='width:50%;'><b>{{ invoice.payment_due_time|date(locale.dateFormat) }}</b></td>
            </tr>
          </table>
        </div>
      </div>
      <div style='clear:both;'></div>
    </div>

    <!-- ITEMS -->
    <div class='dmain'>
      <div class='content'>
        <table id='w_swi_invoices_template_items'>
          <thead>
            <tr class='header'>
              <td style='width:26%;' class=''>
                {% if language == "sk" %}
                  Názov
                {% elseif language == "en" %}
                  Name
                {% endif %}
              </td>
              <td style='width:9%;' class='_num'>
                {% if template == 1 %}
                  {% if language == "sk" %}
                    J.cena<br/>bez DPH
                  {% elseif language == "en" %}
                    Price<br/>excl. template
                  {% endif %}
                {% else %}
                  {% if language == "sk" %}
                    J.cena<br/>
                  {% elseif language == "en" %}
                    Price<br/>
                  {% endif %}
                {% endif %}
              </td>
              {% if template == 1 %}
                <td style='width:9%;' class='_num'>
                  {% if language == "sk" %}
                    DPH
                  {% elseif language == "en" %}
                    VAT
                  {% endif %}
                </td>
              {% endif %}
              {% if template == 1 %}
                <td style='width:9%;' class='_num'>
                  {% if language == "sk" %}
                    J.cena<br/>s DPH
                  {% elseif language == "en" %}
                    Price<br/>incl. template
                  {% endif %}
                </td>
              {% endif %}
              <td style='width:7%;' class='_num'>
                {% if language == "sk" %}
                  Množstvo
                {% elseif language == "en" %}
                  Amount
                {% endif %}
              </td>
              <td style='width:5%; text-align:center;' class=''>
                {% if language == "sk" %}
                  MJ
                {% elseif language == "en" %}
                  Unit
                {% endif %}
              </td>
              <td style='width:11%;' class='_num'>
                {% if template == 1 %}
                  {% if language == "sk" %}
                    Spolu<br/>bez DPH
                  {% elseif language == "en" %}
                    Subtotal<br/>excl. VAT
                  {% endif %}
                {% else %}
                  {% if language == "sk" %}
                    Spolu
                  {% elseif language == "en" %}
                    Subtotal
                  {% endif %}
                {% endif %}
              </td>
              {% if template == 1 %}
                <td style='width:11%;' class='_num'>
                  {% if language == "sk" %}
                    Spolu<br/>s DPH
                  {% elseif language == "en" %}
                    Subtotal<br/>incl. VAT
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            <tr class='sep'><td colspan=10><div></div></td></tr>

            {% for item in invoice.ITEMS %}
              <tr>
                <td style='width:26%;' class=''>
                  {{ item.item }}
                </td>
                <td style='white-space:nowrap;width:9%;' class='_num'>{{ item.jednotkova_cena_bez_dph|number_format(2, ',', ' ') }} €</td>
                {% if template == 1 %}
                  <td style='white-space:nowrap;width:6%;' class='_num'>{{ item.vat_percent }} %</td>
                {% endif %}
                {% if template == 1 %}
                  <td style='white-space:nowrap;width:9%;' class='_num'>{{ item.jednotkova_cena_s_dph|number_format(2, ',', ' ') }} €</td>
                {% endif %}
                <td style='white-space:nowrap;width:7%;' class='_num'><b>{{ item.quantity|number_format(2, ',', ' ') }}</b></td>
                <td style='white-space:nowrap;width:5%; text-align:center;' class=''>{{ item.merna_jednotka }}</td>
                <td style='white-space:nowrap;width:11%;' class='_num'>{{ item.suma_bez_dph|number_format(2, ',', ' ') }} €</td>
                {% if template == 1 %}
                  <td style='white-space:nowrap;width:11%;' class='_num'>{{ item.suma_s_dph|number_format(2, ',', ' ') }} €</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- SUMAR -->
    <div style='padding-top:5mm;'>
      <div class='content'>

        <div id='w_swi_invoices_template_sumar'>
          <table>

            {% if template == 1 %}
              {% for sadzba in invoice.SADZBY_DPH %}
                <tr>
                  <td>
                    {% if language == "sk" %}
                      Základ DPH
                    {% elseif language == "en" %}
                      VAT
                    {% endif %}
                    {{ sadzba.sadzba }} %
                  </td>
                  <td class='_num'>
                    {{ sadzba.zaklad_celkom|number_format(2, ',', ' ') }} €
                  </td>
                </tr>
              {% endfor %}
            {% endif %}

            <tr>
              <td class='fbigger'>
                {% if template == 2 or template == 3 %} <b> {% endif %}
                  {% if language == "sk" %}
                    Spolu
                  {% elseif language == "en" %}
                    Total
                  {% endif %}
                {% if template == 2 or template == 3 %} </b> {% endif %}
              </td>
              <td class='_num fbigger'>
                {% if template == 2 or template == 3 %} <b> {% endif %}
                {{ invoice.SUMAR.suma_celkom_bez_dph|number_format(2, ',', ' ') }} €
                {% if template == 2 or template == 3 %} </b> {% endif %}
              </td>
            </tr>
            
            <tr class='sep'><td colspan=2><div></div></td></tr>

            {% if template == 1 %}
              {% for sadzba in invoice.SADZBY_DPH %}
                <tr>
                  <td>
                    {% if language == "sk" %}
                      DPH
                    {% elseif language == "en" %}
                      VAT
                    {% endif %}
                    {{ sadzba.sadzba }} %
                  </td>
                  <td class='_num'>
                    {{ sadzba.suma_celkom|number_format(2, ',', ' ') }} €
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
            {% if template == 1 %}
              <tr>
                <td>
                  {% if language == "sk" %}
                    Spolu DPH
                  {% elseif language == "en" %}
                    VAT Total
                  {% endif %}
                </td>
                <td class='_num'>
                  {{ invoice.SUMAR.suma_celkom_dph|number_format(2, ',', ' ') }} €
                </td>
              </tr>
            {% endif %}

            <tr class='sep'><td colspan=2><div></div></td></tr>

            {% if template == 1 %}
              <tr class='suma'>
                <td class='fbigger'>
                  <b>
                    {% if language == "sk" %}
                      Spolu s DPH
                    {% elseif language == "en" %}
                      Total incl. VAT
                    {% endif %}
                  </b>
                </td>
                <td class='_num fbigger'>
                  <b>{{ invoice.SUMAR.suma_celkom_s_dph|number_format(2, ',', ' ') }} €</b>
                </td>
              </tr>
            {% endif %}
          </table>
        </div>

        <div style='clear:both;'></div>
      </div>
    </div>

    <!-- PECIATKA a PODPIS -->
    <div>
      <div class='content podpisy' style='padding-top:0; padding-bottom:0;'>
        <div style='page-break-inside:avoid;padding-top:25mm;'>
          <table>
            <tr>
              <td style='width:50%;'>
                <span class='podpis_info'>
                  {% if language == "sk" %}
                    Pečiatka a podpis
                  {% elseif language == "en" %}
                    Stamp and signature
                  {% endif %}
                </span>
              </td>
              <td style='width:50%;'>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>
</html>