<div class="container">
  <div class="row">
    <div class="col-lg-{{ column1Width }} {{ column1CSSClasses }}">
      {{ column1Content|raw }}
    </div>
    <div class="col-lg-{{ column2Width }} {{ column2CSSClasses }}">
      {{ column2Content|raw }}
    </div>
  </div>
</div>