<div class="container simple-text">
  <div class="row">
    <div class="col-lg-{{ column1Width }} {{ column1CSSClasses }}">
      <p>
        {{ column1Content|raw }}
      </p>
    </div>
    <div class="col-lg-{{ column2Width }} {{ column2CSSClasses }}">
      <p>
        {{ column2Content|raw }}
      </p>
    </div>
  </div>
</div>