<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Surikata.io Hello World</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="{{ header.metaDescription }}">
  <meta name="keywords" content="{{ header.metaKeywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ uploadedFileUrl }}/favicon.png" />
  
  <link rel="stylesheet" href="{{ rootUrl }}/theme/assets/css/main.css">
  <script src="{{ rootUrl }}/theme/assets/js/jquery-3.5.1.min.js"></script>
</head>
<style>
  :root {
    --theme-main-color: {{ settings.design.themeMainColor }};
    --theme-second-color: {{ settings.design.themeSecondColor }};
    --theme-third-color: {{ settings.design.themeThirdColor }};
    --theme-grey-color: {{ settings.design.themeGreyColor }};
    --theme-lightgrey-color: {{ settings.design.themeLightGreyColor }};

    --body-bg-color: {{ settings.design.bodyBgColor }};
    --body-text-color: {{ settings.design.bodyTextColor }};
    --body-link-color: {{ settings.design.bodyLinkColor }};
    --body-heading-color: {{ settings.design.bodyHeadingColor }};

    --header-bg-color: {{ settings.design.headerBgColor }};
    --header-text-color: {{ settings.design.headerTextColor }};
    --header-link-color: {{ settings.design.headerLinkColor }};
    --header-heading-color: {{ settings.design.headerHeadingColor }};

    --footer-bg-color: {{ settings.design.footerBgColor }};
    --footer-text-color: {{ settings.design.footerTextColor }};
    --footer-link-color: {{ settings.design.footerLinkColor }};
    --footer-heading-color: {{ settings.design.footerHeadingColor }};
  }
  {{ settings.design.custom_css }}
</style>
<body>