<div id="breadcrumbDiv">
  <div class="breadcrumb-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb-content">
            <ul class="nav">
              {% if showHomePage %}
                <li>
                  <a href="{{ rootUrl }}">
                    <i class="fas fa-home"></i>
                  </a>
                </li>
              {% endif %}
              {% for url, breadcrumb in breadcrumbs %}
                {% if loop.last %}
                  <li>{{ breadcrumb | title }}</li>
                {% else %}
                  <li><a href="{{ rootUrl }}/{{ url }}">{{ breadcrumb | title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>