 <div class="cart-main-area">
  <div class="container">
    {% if cartContents.items|length > 0 %}
      <h3 class="cart-page-title">{{ translate("Your cart items", "Order") }}</h3>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div>
            <div class="cart-table-content">
              <div class="row cart-items-header align-items-center">
                <div class="col-4 col-sm-4 col-lg-2">
                </div>
                <div class="col-8 col-lg-10">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                      <div class="row">
                        <div class="col-12 col-lg-8">
                          {{ translate("Product", "Order") }}
                        </div>
                        <div class="col-12 col-lg-4">
                          {{ translate("Price", "Order") }} / {{ translate("Unit", "Order") }}
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-lg-3">
                      {{ translate("Pieces", "Order") }} / {{ translate("Unit", "Order") }}
                    </div>
                    <div class="col-12 col-lg-3">
                      <div class="row">
                        <div class="col-9 col-lg-10 text-right">
                          {{ translate("Price", "Order") }}
                        </div>
                        <div class="col-3 col-lg-2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% for item in cartContents.items %}
                <div class="row cart-item align-items-center">
                  <div class="col-4 col-sm-4 col-lg-2 product-thumbnail">
                    <a href="{{ item.PRODUCT.url }}"><img class="img-responsive" src="{{ uploadedFileUrl }}/{{ item.PRODUCT.image }}" alt="{{ item.PRODUCT.name_lang_1 }}" /></a>
                  </div>
                  <div class="col-8 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-lg-6">
                        <div class="row">
                          <div class="col-12 col-lg-8 product-name">
                            <a href="{{ item.PRODUCT.url }}">{{ item.PRODUCT["name_lang_"~languageIndex] }}</a>
                          </div>
                          <div class="col-12 col-lg-4 product-price-cart">
                            <div class="cart-text-mobile">price / {{ item.PRODUCT.unit.unit }}:&nbsp;</div><span class="amount">{{ item.unit_price|number_format(2, ",", " ") }} {{ locale.currencySymbol }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-3 product-quantity">
                        <div class="cart-plus-minus">
                          <input
                            onchange="AbeloThemeCart.updateProductQty(
                              {{ item.PRODUCT.id }},
                              this.value,
                              function(data) {
                                AbeloThemeCart.updatePrice(data);
                              }
                            )"
                            class="cart-plus-minus-box"
                            type="text"
                            name="qtybutton"
                            value="{{ item.quantity }}"
                          />
                        </div>
                        <div class="cart-product-unit">
                          {{ item.PRODUCT.unit.unit }}
                        </div>
                      </div>
                      <div class="col-12 col-lg-3 product-subtotal product-subtotal_{{ item.PRODUCT.id }}">
                        <div class="row">
                          <div class="col-9 col-lg-10">
                            <div class="cart-text-mobile">{{ translate("Price", "Order") }}:&nbsp;</div>{{ (item.unit_price * item.quantity)|number_format(2, ",", " ") }} {{ locale.currencySymbol }}
                          </div>
                          <div class="col-3 col-lg-2 product-remove">
                            <a
                              href="javascript:void(0)"
                              onclick="
                                AbeloThemeCart.removeProduct(
                                  {{ item.PRODUCT.id }},
                                  function(data) {
                                    AbeloThemeCart.updateDetailedOverview();
                                  }
                                );
                              "
                            >
                              <i class="fa fa-trash-alt"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="cart-shiping-update-wrapper">
                  <div class="cart-clear">
                    <!--<button>Update Shopping Cart</button>-->
                    <a href="javascript:void(0)"
                      onclick="
                      AbeloThemeCart.removeProduct(
                        0,
                        function(data) {
                          AbeloThemeCart.updateDetailedOverview();
                        }
                      );
                    ">{{ translate("Clear Shopping Cart", "Order") }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% if couponCard %}
              <div class="col-lg-4 col-md-6 mb-lm-30px">
                <div class="discount-code-wrapper">
                  <div class="title-wrap">
                    <h4 class="cart-bottom-title section-bg-gray">{{ translate("Use Coupon Code", "Order") }}</h4>
                  </div>
                  <div class="discount-code">
                    <p>{{ translate("Enter your coupon code if you have one.", "Order") }}</p>
                    <form>
                      <input type="text" required="" name="name" />
                      <button class="cart-btn-2" type="submit">{{ translate("Apply Coupon", "Order") }}</button>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="col-lg-4 col-md-12 mt-md-30px">
              <div class="grand-totall">
                <div class="title-wrap">
                  <h4 class="cart-bottom-title section-bg-gary-cart">{{ translate("Cart Total", "Order") }}</h4>
                </div>
                <h4 class="grand-totall-title mt-3">{{ translate("Grand Total", "Order") }} <span id="priceTotal">{{ cartContents.summary.priceTotal|number_format(2, ",", " ") }} {{ locale.currencySymbol }}</span></h4>
                <a href="{{ rootUrl }}/{{ callPluginMethod('WAI/Order/Checkout', 'getWebPageUrl') }}">{{ translate("Proceed to Checkout", "Order") }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="col-md-12">
        <div class="empty-text-contant text-center">
          <i class="lnr lnr-cart"></i>
          <h1>{{ translate("There are no more items in your cart", "Order") }}</h1>
          <a class="empty-cart-btn" href="javascript:void(0);">
            <i class="ion-ios-arrow-left"> </i> {{ translate("Continue shopping", "Order") }}
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</div>