<table>
    {% for widgetName, widget in widgets_available %}
        <tr>
            <td>{{ widget.meta.description }}</td>
            <td style='text-align:left' id='{{ uid }}_button_td_{{ widgetName }}'>
                {% if widget.is_installed %}
                  Nainštalovaný
                {% else %}
                    {{
                        adiosUI(
                            '',
                            'button',
                            {
                                'color': 'green',
                                'style': 'margin-top:13px',
                                'text': l('Inštalovať'),
                                'icon': 'app/plus-4.png',
                                'onclick': "
                                    " ~ uid ~ "_install_widget(
                                        '" ~ widgetName ~ "',
                                        '" ~ widget.meta.name ~ "',
                                        '" ~ widget.version ~ "',
                                        '" ~ widget.custom ~ "'
                                    );
                                ",
                            }
                        )|raw
                    }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<script>
    function {{ uid }}_refresh() {
        window.location.href = "{{ adios.config.url }}?restart=1";
    }

    function {{ uid }}_install_widget(widget_name, widget_title, version, custom) {
        _confirm(
            '{{ l("Inštalácia môže chvíľku trvať a prehliadač môže prestať reagovať. Stlačte OK pre spustenie inštalácie.") }}',
            {},
            function() {
                $('#{{ uid }}_button_td_'+widget_name).html('{{ l("Inštalujem") }}');
                _ajax_read(
                    'Desktop/Ajax/install_upgrade_widget',
                    'custom='+custom+'&widget='+widget_name+'&version='+version,
                    function(res) {
                        $('#{{ uid }}_button_td_'+widget_name).html(res);
                    }
                );
            }
        );
    }
</script>