<div class="search-hotel">
  <h3 class="agileits-sear-head">Search Here..</h3>
  <form action="#" onsubmit="return false;" method="post">
    <input type="search" id="blog-search" placeholder="{{ translate("Blog title") }}..." name="search" required="" onkeypress="searchKeyPressCallback(event, this)">
    <button type="button" onclick="sendSearchData('blog-search')"><i class="fa fa-search"></i></button>
  </form>
</div>

<!--blogs -->
<div class="left-side">
  {% if showArchive %}
    <h3 class="agileits-sear-head">{{ translate("Archive") }}</h3>
    <div class="sidebar-widget">
      <div class="category-post">
        <ul>
          {% for date, item in archive %}
            <li><a href="{{ rootUrl }}/{{ blogCatalogUrl }}/{{ item.year }}/{{ item.month }}">{{ date }} ({{ item.count }})</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if showRecent %}
    <h3 class="agileits-sear-head">{{ translate("Recent Post") }}</h3>
    <div class="sidebar-widget">

      <div class="recent-post-widget">
        {% for blog in blogs|slice(0,5) %}
          <div class="recent-single-post d-flex">
            <div class="thumb-side">
              <a href="{{ rootUrl }}/{{ blog.url }}">
                <img src="{{ uploadedFileUrl }}/{{ blog.image }}" alt="{{ blog.image }}"/>
              </a>
            </div>
            <div class="media-side">
              <h5>
                <a href="{{ rootUrl }}/{{ blog.url }}">
                  {{ blog.name }}
                </a>
              </h5>
              <span class="date">{{ blog.created_at }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="sidebar-widget">
    <h3 class="agileits-sear-head">{{ translate("Tags") }}</h3>
    <div class="sidebar-widget-tag">
      <ul>
        {% for singleTag in filterInfo.allTags %}
          <li>
            {% if blogDetailIsOpen %}
              <a href="{{ rootUrl }}/{{ blogCatalogUrl }}?tags={{ singleTag.url }}">{{ singleTag.name }}</a>
            {% else %}
              <label
                for="singleTag_{{ singleTag.id }}"
                id="singleTag_{{ singleTag.id }}_label"
                {% if singleTag.id in filterInfo.filteredTags %}
                  class="active-tag"
                {% endif %}
              >{{ singleTag.name }}</label>
              <input
                type="checkbox"
                style="display:none"
                id="singleTag_{{ singleTag.id }}"
                onclick="
                  let div = $('#blogCatalogDefaultContainerDiv');
                  if ($(this).is(':checked')) {
                  BasicThemeBlogCatalog.addValueToFilter('tags', '{{ singleTag.url }}').update(div);
                  $('#singleTag_{{ singleTag.id }}_label').addClass('active-tag');
                  } else {
                  BasicThemeBlogCatalog.removeValueFromFilter('tags', '{{ singleTag.url }}').update(div);
                  $('#singleTag_{{ singleTag.id }}_label').removeClass('active-tag');
                  }
                  "
                {% if singleTag.id in filterInfo.filteredTags %} checked {% endif %}
              >
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
<!-- //blogs -->


<script>
  $(document).ready(function() {
    AbeloThemeBlogCatalog.loadUrlParams('tags');
  })
</script>
