{% if cartContents.items is iterable and cartContents.items|length > 0 %}
  <div id="navigationCart">
    <div class="body customScroll">
      <ul class="minicart-product-list">
      {% for item in cartContents.items %}
        <li id="cartProduct_{{ item.PRODUCT.id }}">
          <a href="{{ item.PRODUCT.url }}" class="image">
            <img src="{{ uploadedFileUrl }}/{{ item.PRODUCT.image }}" alt="{{ item.PRODUCT.TRANSLATIONS.name }}">
          </a>
          <div class="content">
            <a href="{{ item.PRODUCT.url }}" class="title">{{ item.PRODUCT.TRANSLATIONS.name }}</a>
            <span class="quantity-price">
              {{ item.quantity }} x 
              <span class="amount">{{ item.PRICES_FOR_INVOICE.unitPriceInclVAT|formatPrice }} {{ locale.currencySymbol }}</span>
            </span>
            <a 
              href="javascript:void(0)" 
              onclick="AbeloThemeCart.removeProduct({{ item.PRODUCT.id }});"
              class="remove"
            ><i class="fas fa-trash-alt"></i></a>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="foot">
      <div class="sub-total">
        <strong>{{ translate("Subtotal") }} :</strong>
          <div id="cartTotal">
            <p>{{ cartContents.summary.priceInclVAT|formatPrice }} {{ locale.currencySymbol }}</p>
          </div>
      </div>
      <div class="buttons">
        <a href="{{ rootUrl }}/{{ callPluginMethod('WAI/Order/CartOverview', 'getWebPageUrl') }}" class="btn btn-dark btn-hover-primary mb-30px">
          {{ translate("View cart") }}
        </a>
        <a href="{{ rootUrl }}/{{ callPluginMethod('WAI/Order/Checkout', 'getWebPageUrl') }}" class="btn btn-outline-dark current-btn">
          {{ translate("Checkout") }}
        </a>
      </div>
      <!--<p class="minicart-message">Free Shipping on All Orders Over $100!</p>-->
    </div>
  </div>
  <div class="empty-cart-area" style="display:none">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="empty-text-contant text-center">
            <i class="lnr lnr-cart"></i>
            <p class="text-large">{{ settings.customTexts.emptyCart|raw }}</p>
            <a 
              class="empty-cart-btn" 
              href="{{ rootUrl }}/{{ callPluginMethod('WAI/Product/Catalog', 'getWebPageUrl') }}"
            ><i class="ion-ios-arrow-left"> </i> {{ translate("Continue shopping") }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="empty-cart-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="empty-text-contant text-center">
            <i class="lnr lnr-cart"></i>
            <p class="text-large">
              {{ translate("There are no more items in your cart", "CartOverview") }}
            </p>
            <a 
              class="empty-cart-btn" 
              href="{{ rootUrl }}/{{ callPluginMethod('WAI/Product/Catalog', 'getWebPageUrl') }}">
              <i class="ion-ios-arrow-left"> </i> {{ translate("Continue shopping") }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
