<div id="breadcrumbDiv">
  <ul class="breadcrumb">
    {% if showHomePage %}
      <li>
        <a href="{{ rootUrl }}">
          <i class="fas fa-home"></i>
        </a>
      </li>
    {% endif %}
    {% for url, breadcrumb in breadcrumbs %}
      {% if loop.last %}
        <li>{{ breadcrumb | title }}</li>
      {% else %}
        <li><a href="{{ rootUrl }}/{{ url }}">{{ breadcrumb | title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>