<!-- banner -->
<div class="banner_top {{ pageUrl == homepageUrl ? "" : "innerpage" }}" id="home">
  <div class="wrapper_top_w3layouts">

    <div class="header_agileits">
      <div class="logo {{ pageUrl == homepageUrl ? "" : "inner_page_log" }}">
        <a class="navbar-brand" href="{{ rootUrl }}">
          <img class="img-responsive" src="{{ uploadedFileUrl }}/{{ settings.companyInfo.logo }}" alt="logo"/>
        </a>
      </div>
      <div class="overlay overlay-contentpush">
        <button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

        <nav>
          <ul>
            {% if navigationItems is iterable %}
              {% for item in navigationItems %}
                <li>
                  <a href="{{ item.url }}">
                    {{ item.text }}
                  </a>
                  {% if item.children is iterable %}
                    <ul role="menu" class="sub-menu">
                      {% for itemSub in item.children %}
                        <li>
                          <a href="{{ itemSub.url }}">
                            {{ itemSub.text }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            {% endif %}
            {% if user.isLogged %}
              <li>
                <a href='?doLogout=1'>{{ translate("Logout", "Common") }}</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      {% if navigationItems is iterable %}
      <div class="mobile-nav-button">
        <button id="trigger-overlay" type="button">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      {% endif %}
      <!-- cart details -->
      <div class="top_nav_right">
        <div class="shoecart shoecart2 cart cart box_1">
          <button class="top_shoe_cart" value="" onclick="ThemeBasicCart.showMiniCart()">
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
          </button>

          <div id="minicart">
            <div>
              {% include 'Templates/Cart/Overview.twig' with { 'cartContents': cartContents } %}
            </div>
          </div>

        </div>

      </div>
      <!-- //cart details -->
      <!-- search -->
      <div class="search_w3ls_agileinfo">
        <div class="cd-main-header">
          <ul class="cd-header-buttons">
            <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
          </ul>
        </div>
        <div id="cd-search" class="cd-search">
          <form action="search" method="get">
            <input id="headerSearch" name="search" type="search" placeholder="Click enter after typing..." onkeypress="searchKeyPressCallback(event, this)">
          </form>
        </div>
      </div>
      <!-- //search -->

      <script>

      </script>

      <div class="clearfix"></div>
    </div>
  {{ pageUrl == homepageUrl ? "" : "</div></div>" }}
