<div class="checkout-area mtb-50px">
  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto col-lg-9">
        <div class="checkout-wrapper">
          {% if user.changePasswordError %}
            <div class="notification mb-5">
              <p class="error"><strong>{{ translate("Oops something went wrong", "Customer") }}:</strong> {{ user.changePasswordError }}</p>
            </div>
          {% endif %}
          {% if user.changePasswordError is same as("") %}
           <div class="notification mb-5">
              <p class="success">{{ translate("Your password has been changed successfully!", "Customer") }}</p>
            </div>
          {% endif %}
          <div id="faq" class="panel-group">
            <div class="panel panel-default single-my-account">
              <div class="panel-heading my-account-title">
                <h3 class="panel-title"><span>1 .</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-1">{{ translate("Edit your account information", "Customer") }} </a></h3>
              </div>
              <div id="my-account-1" class="panel-collapse collapse show">
                <div class="panel-body">
                  <div class="myaccount-info-wrapper">
                    <div class="account-info-wrapper">
                      <h4>{{ translate("My Account Information", "Customer") }}</h4>
                      <h5>{{ translate("Your Personal Details", "Customer") }}</h5>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="billing-info">
                          <label>{{ translate("First Name", "Customer") }}</label>
                          <input type="text" value="{{ user.profile.given_name }}"/>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="billing-info">
                          <label>{{ translate("Last Name", "Customer") }}</label>
                          <input type="text" value="{{ user.profile.family_name }}"/>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="billing-info">
                          <label>{{ translate("Email Address", "Customer") }}</label>
                          <input type="email" value="{{ user.profile.email }}"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default single-my-account">
              <div class="panel-heading my-account-title">
                <h3 class="panel-title"><span>2 .</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-2">{{ translate("Change your password", "Customer") }} </a></h3>
              </div>
              <div id="my-account-2" class="panel-collapse collapse {% if user.changePasswordError %} show {% endif %}">
                <div class="panel-body">
                  <div class="myaccount-info-wrapper">
                    <form method="post" id="customerChangePassword">
                      <div class="row mt-2">
                        <div class="col-lg-12 col-md-12">
                          <div class="billing-info">
                            <label>{{ translate("Current password", "Customer") }} <strong>*</strong></label>
                            <input 
                              type="password" 
                              name="current_password"
                              {% if user.changePasswordError %} class="required-empty" {% endif %}
                            />
                          </div>
                        </div>
                      </div>
                      <hr class='pb-3'>
                      <div class="row">
                        <input type="hidden" name="changePassword" value="1" />
                          <div class="col-lg-12 col-md-12">
                            <div class="billing-info">
                              <label>{{ translate("New Password", "Customer") }}</label>
                              <input 
                                type="password" 
                                name="password_1"
                                {% if user.changePasswordError %} class="required-empty" {% endif %}
                              />
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <div class="billing-info">
                              <label>{{ translate("Confirm New Password", "Customer") }}</label>
                              <input 
                                type="password"
                                name="password_2"
                                {% if user.changePasswordError %} class="required-empty" {% endif %} 
                              />
                            </div>
                          </div>
                        </div>
                        <div class="billing-back-btn">
                        <div class="billing-btn">
                          <button 
                            type="submit" 
                            onclick="$('#customerChangePassword').submit();"
                          >{{ translate("Change password", "Customer") }}</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default single-my-account">
              <div class="panel-heading my-account-title">
                <h3 class="panel-title"><span>3 .</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-3">{{ translate("Modify your address book entries", "Customer") }} </a></h3>
              </div>
              <div id="my-account-3" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="myaccount-info-wrapper">
                    <div class="account-info-wrapper">
                      <h4>{{ translate("Address Book Entries", "Customer") }}</h4>
                      <div class="entries-edit-add text-right" style="float: right">
                        <a
                          href="javascript:void(0);"
                          data-link-action="editAddressModal"
                          data-link-id="0"
                          onclick="openAddAddressModal(this)"
                          title="{{ translate("Add Address", "Customer") }}"
                          data-toggle="modal"
                          data-target="#addAddressModal"
                        >
                          {{ translate("Add address", "Customer") }}
                        </a>
                      </div>
                    </div>

                    {% for address in user.profile.ADDRESSES %}
                      <div class="entries-wrapper">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                            <div class="entries-info text-center">
                              <p>
                                <span data-variable="inv_given_name">{{ address.inv_given_name }}</span>
                                <span data-variable="inv_family_name">{{ address.inv_family_name }}</span>
                              </p>
                              <p>
                                <span data-variable="inv_company_name">{{ address.inv_company_name }}</span>
                              </p>
                              <p>
                                <span data-variable="inv_street_1">{{ address.inv_street_1 }}</span>
                                <span data-variable="inv_street_2">{{ address.inv_street_2 }}</span>
                                <span data-variable="inv_zip">{{ address.inv_zip }}</span>
                                <span data-variable="inv_city">{{ address.inv_city }}</span>
                              </p>
                              <p>
                                <span data-variable="del_given_name">{{ address.del_given_name }}</span>
                                <span data-variable="del_family_name">{{ address.del_family_name }}</span>
                                <span data-variable="del_company_name">{{ address.del_company_name }}</span>
                                <span data-variable="del_street_1">{{ address.del_street_1 }}</span>
                                <span data-variable="del_street_2">{{ address.del_street_2 }}</span>
                                <span data-variable="del_zip">{{ address.del_zip }}</span>
                                <span data-variable="del_city">{{ address.del_city }}</span>
                              </p>
                              <p>
                                <span data-variable="phone_number">{{ address.phone_number }}</span>
                                <span data-variable="email">{{ address.email }}</span>
                              </p>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                            <div class="entries-edit-add text-center">
                              <a
                                  href="javascript:void(0);"
                                  data-link-action="editAddressModal"
                                  data-link-id="{{ address.id }}"
                                  onclick="openAddAddressModal(this)"
                                  title="{{ translate("Add Address", "Customer") }}"
                                  data-toggle="modal"
                                  data-target="#addAddressModal"
                              >
                                {{ translate("Edit", "Customer") }}
                              </a>
                            </div>
                            <div class="entries-edit-delete text-center">
                              <a href="javascript:void(0);" onclick="AbeloThemeCustomer.removeAddress({{ address.id }})">{{ translate("Delete", "Customer") }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>