{% if accountInfo %}
  <div class='container'>
    {{ translate("Your account has been successfully created. To your email address", "Customer") }}
    <b>{{ accountInfo.CUSTOMER.email }}</b>
    {{ translate("we have sent a link to verify your account. Please verify your account before logging in for the first time.", "Customer") }}
    <br/>
    <br/>
    {{ translate("Thank you for your trust.", "Customer") }}
  </div>
{% else %}
  <div class='container'>
    <div class="notification">
      <p class="error">{{ translate("Invalid link for email confirmation", "Customer") }}</p>
    </div>
  </div>
{% endif %}