<div class='container'>
  {% if status == "OK" %}
    <div class="notification mb-5">
      <p class="success">
        {{ translate("Your account has been successfully verified.", "Customer") }}
      </p>
    </div>
    <p>
      {{ translate("Now you can sing in here", "Customer") }}
      <a
        href="{{ rootUrl }}/{{ callPluginMethod('WAI/Customer/Login', 'getWebPageUrl') }}"
        >{{ translate("Login", "Customer") }}</a>
    </p>
  {% else %}
    <div class="notification mb-5">
      <p class="error">
        {{ error }}
      </p>
    </div>
  {% endif %}
</div>